<div class="border border-primary row  ">

    <div class="col text-center m-3">
        <h1> Fiche de rensignement</h1>
    </div>

</div>

<div class="container">
    <div class=" mt-2 mb-2 end-50">
        <!--routerLink="/edit-datail-profil/{{detailpp.id}}"-->
        <button type="button" class="btn btn-primary mt-2 " routerLink="/liste-fiche-rensignement"><i
                class="  fas fa-arrow-alt-circle-left"></i> REV</button>
    </div>

    <form id="contact-form" role="form" [formGroup]="moyenForm">

        <!--- <div class="text-end mt-2">date:
            <input type="date">
        </div>
        <div class="text-end mt-2">Numero de page:
            <input type="number" class="number">
        </div>

        <div class="row">
            <div class="shadow p-3 mb-5 bg-body rounded mt-2 col-4">
                <div class="text-center h2">
                    Information Professionnelles
                </div>
                <div class="card-body">
                    <div class="row">
                        <h5 class="col-6"> Nom et Prénom: </h5>
                        <input type="text" class="infopro" formControlName="nomprenom">
                    </div>
                    <div class="row mt-2">
                        <h5 class="col-6"> Adresse : </h5>
                        <input type="text" class="infopro" formControlName="adresse">
                    </div>

                    <div class="row mt-2">
                        <h5 class="col-6"> Tél professionnel: </h5>
                        <input type="tel" class="infopro" formControlName="telprofessionnel">
                    </div>

                    <div class="row mt-2">
                        <h5 class="col-6"> Tél personnel: </h5>
                        <input type="tel" class="infopro" formControlName="telpersonnel">
                    </div>

                    <div class="row mt-2">
                        <h5 class="col-6 mb-3">Contact en cas d’urgence: </h5>
                        <input type="tel" class="infopro" formControlName="contact">
                    </div>

                    <div class="row mt-2">
                        <h5 class="col-6">Mail professionnel: </h5>
                        <input type="email" class="infopro" formControlName="mailprofessionnel">
                    </div>
                    <div class="row mt-2">
                        <h5 class="col-6">Mail personnel: </h5>
                        <input type="email" class="infopro" formControlName="mailpersonnel">
                    </div>
                    <div class="row mt-2">
                        <h5 class="col-6">Service de travail: </h5>
                        <input type="email" class="infopro" formControlName="service">
                    </div>
                    <div class="row mt-2">
                        <h5 class="col-6">Poste: </h5>
                        <input type="text" class="infopro" formControlName="poste">
                    </div>
                </div>

            </div>-->

        <div class="shadow p-3 mb-5 bg-body rounded mt-2 col-8 ">

            <div class="text-center h2">
                Information Personnelles
            </div>
            <div class="card-body">

                <div class="row">
                    <h5 class="col-3"> Date de naissance: </h5>
                    <input type="date" formControlName="daten" required="required">

                    <h5 class="col-1"> Lieu: </h5>
                    <input type="text" class="lieu" formControlName="lieu"required="required">
                </div>

                <div class="row mt-2">
                    <h5 class="col-3">Nationalité: </h5>
                    <input type="text" class="lieu" formControlName="nationalite"required="required">

                    <h5 class="col-1"> N°CIN: </h5>
                    <input type="number" class="lieu" formControlName="ncin"required="required">
                </div>

                <div class="row mt-2">
                    <h5 class="col-3">Délivrée à:</h5>
                    <input type="text" class="lieu" formControlName="delivreecin"required="required">

                    <h5 class="col-1"> Le: </h5>
                    <input type="date" class="lieu" formControlName="datecin"required="required">
                </div>

                <div class="row">
                    <h5 class="col-3">Permis de conduite:</h5>
                    <div class="form-check mr-sm-2 col-md-4">

                        <input type="radio" class="form-check-input" name="permis" formControlName="permis" value="Oui"required="required">
                        <label class="form-check-label ">Oui </label><br>
                        <input type="radio" class="form-check-input  col-md-4" name="permis" formControlName="permis"required="required"
                            value="Non">
                        <label class="form-check-label ">Non </label>
                        <p class="col-8"> Si oui depuis quand?</p>
                        <input type="date" class="infopro" formControlName="datepermis"required="required">

                    </div>

                </div>

                <div class="row">
                    <div class="checkbox_box">
                        <p>
                        <h5 class=" col-3">Logement:</h5>
                        <div class="row">
                            <input type="radio" class="form-check-input mr-sm-2" name="logement"required="required"
                                formControlName="logement" value="Propre">
                            <label class="form-check-label  col-2"> Propre </label>


                            <input type="radio" class="form-check-input col-2" name="logement"required="required"
                                formControlName="logement" value="Loyer">
                            <label class="form-check-label col-3 margin-right"> Loyer </label>



                            <input type="radio" class="form-check-input col-2 " name="logement"required="required"
                                formControlName="logement" value="Chez quelqu’un">
                            <label class="form-check-label col-3"> Chez quelqu’un </label>
                        </div>
                    </div>
                </div>
                <div class="row">

                    <!--    <div class="checkbox_box">
                            <p>
                            <h5 class=" col-3">Moyen de transport: </h5>
                            <div class="row">
                                <div *ngFor="let choicee of array ;let i=index">
                                    <label class="form-check-label  col-2">
                                        <input type="checkbox" class="form-check-input mr-sm-2 col-2" [value]="choicee"
                                            (change)=" onCheckChangeMoyen($event)" formControlName="moyentransport" >
                                        {{choicee}} </label>
                                </div>

                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="checkbox_box">
                            <p>
                            <h5 class=" col-5">Le temps entre domicile et travail: </h5>
                            <div class="row">
                                <input type="number" class="number" formControlName="minute">
                                <label class="form-check-label  col-2"> Minutes: </label>


                                <input type="number" class="number" formControlName="heure">
                                <label class="form-check-label col-3 margin-right"> Heure: </label>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="checkbox_box">
                            <p>
                            <h5 class=" col-3">Situation familiale:</h5>
                            <div class="row">
                                <input type="radio" class="form-check-input mr-sm-2" name="situationfamiliale" formControlName="situationfamiliale" value="Célibataire">
                                <label class="form-check-label  col-2"> Célibataire </label>


                                <input type="radio" class="form-check-input col-2" name="situationfamiliale" formControlName="situationfamiliale"value="Marié(e)">
                                <label class="form-check-label col-3 margin-right"> Marié(e) </label>



                                <input type="radio" class="form-check-input col-2 " name="situationfamiliale" formControlName="situationfamiliale"value="Divorcé">
                                <label class="form-check-label col-3"> Divorcé(e)</label>
                            </div>

                            <p class=" col-5">Si marié(e) ou divorcé(e) depuis quand?</p>
                            <input type="text" class="infopro" formControlName="datemariedivorce">
                        </div>
                    </div>
                </div>

            </div>


            <div class="shadow p-3 mb-5 bg-body rounded mt-2 col-12 ">
                <div class="card-body">
                    <div class="text-center h2 mb-3">
                        Activités et Loisirs
                    </div>


                    <div class="row">
                        <h5 class="col-2">Activité sportive: </h5>
                        <p class="col-2 text-start">Vous exercez du sport: </p>
                        <div class="form-check mr-sm-2 col-md-4">
                            <div class="col-8">
                                <input type="radio" class="form-check-input" name="activitesportive" formControlName="activitesportive" value="Oui">
                                <label class="form-check-label ">Oui </label><br>
                                <input type="radio" class="form-check-input  col-md-4" name="activitesportive" formControlName="activitesportive"value="Non">
                                <label class="form-check-label ">Non </label>
                            
                                    <div class="col-12">
                                        <p class="col-12"> Si oui lequel?: </p>
                                        <div class="row mt-3 " *ngFor="let choice of arraysport ;let i=index">
                                            <label class="form-check-label  col-5">
                                                <input type="checkbox" class="form-check-input mr-sm-2 col-5"
                                                    [value]="choice" (change)="onCheckChangeSport($event)">
                                                {{choice}}
                                            </label>
                                        </div>
                                    </div>
                                
                            </div>
                        </div>

                    </div>

                </div>

                <div class="row">
                    <div class="checkbox_box">
                        <p>
                        <h5 class=" col-3">Activité créative:</h5>
                        <div class="row" *ngFor="let choice of arraycreative ;let i=index">
                            <label class="form-check-label  col-2 ">
                                <input type="checkbox" class="form-check-input mr-sm-2  " [value]="choice"
                                    (change)="onCheckChangeCreative($event)">
                                {{choice}}</label>


                        </div>
                        <p class="col-12"> lequel?: </p>
                        <input type="text" class="lieu" formControlName="lequelcreative">
                    </div>
                </div>

                <div class="row">
                    <div class="checkbox_box">
                        <p>
                        <h5 class=" col-3">Activité d’inventivité: </h5>
                        <div class="row" *ngFor="let choice of arraydinventivite ;let i=index">
                            <label class="form-check-label  col-2 ">
                                <input type="checkbox" class="form-check-input mr-sm-2" [value]="choice"
                                    (change)="onCheckChangeDinventivite($event)">
                                {{choice}} </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="checkbox_box">
                        <p>
                        <h5 class=" col-3">Activité corporelle </h5>
                        <div class="row" *ngFor="let choice of arraycorporelle ;let i=index">
                            <label class="form-check-label  col-2 ">
                            <input type="radio" class="form-check-input mr-sm-2"  [value]="choice"
                            (change)="onCheckChangeCorporelle($event)">
                          {{choice}}</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="checkbox_box">
                        <p>
                        <h5 class=" col-3">Jeu de réflexion </h5>
                        <div class="row">
                            <input type="radio" class="form-check-input mr-sm-2" name="jeureflexion" formControlName="jeureflexion"value="Jeu d’échec">
                            <label class="form-check-label  col-2 ">Jeu d’échec</label>





                            <input type="radio" class="form-check-input col-2 " name="jeureflexion" formControlName="jeureflexion"value="Autre">
                            <label class="form-check-label col-3"> Autre</label>




                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="checkbox_box">
                        <p>
                        <h5 class=" col-3">Exercer l’activité: </h5>
                        <div class="row">
                            <input type="radio" class="form-check-input mr-sm-2" name="exerceractivite"formControlName="exerceractivite" value="Libre" >
                            <label class="form-check-label  col-2 "> Libre</label>


                            <input type="radio" class="form-check-input col-2" name="exerceractivite" formControlName="exerceractivite" value="club">
                            <label class="form-check-label col-3 margin-right">club</label>



                            <input type="radio" class="form-check-input col-2 " name="exerceractivite"formControlName="exerceractivite" value="Convention prof">
                            <label class="form-check-label col-3">Convention prof</label>

                            <input type="radio" class="form-check-input col-2 " name="exerceractivite"formControlName="exerceractivite" value="Autre"> 
                            <label class="form-check-label col-3">Autre</label>




                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="checkbox_box">
                        <p>
                        <h5 class=" col-3">Vous exercer l’activité(s) pour: </h5>
                        <div class="row">
                            <input type="radio" class="form-check-input mr-sm-2" name="pourquoiexercer"formControlName="pourquoiexercer">
                            <label class="form-check-label  col-2 ">C’est une occasion pour côtoyer d’autres
                                personnes?</label>


                            <input type="radio" class="form-check-input col-2" name="option6"formControlName="coutformahd">
                            <label class="form-check-label col-3 margin-right">Partager même dans les milieux les plus
                                modestes le bonheur de l’activité? </label>



                            <input type="radio" class="form-check-input col-2 " name="option6"formControlName="coutformahd">
                            <label class="form-check-label col-3">Juste pour passer le temps?</label>

                            <input type="radio" class="form-check-input col-2 " name="option6"formControlName="coutformahd">
                            <label class="form-check-label col-3">Il s’agit de l’envie irrésistible de passer le temps
                                avec
                                quelqu’un?</label>


                            <input type="radio" class="form-check-input col-2 " name="option6"formControlName="coutformahd">
                            <label class="form-check-label col-3">Ce n’est qu’une activité amusante?</label>

                            <input type="radio" class="form-check-input col-2 " name="option6"formControlName="coutformahd">
                            <label class="form-check-label col-3">Pour acquérir des compétences physiques?</label>

                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="checkbox_box">
                        <p>
                        <h5 class=" col-8">Si votre entreprise est conventionnée avec une salle de sport est ce que vous
                            voulez participer? </h5>
                        <div class="row">
                            <input type="radio" class="form-check-input mr-sm-2" name="option7"formControlName="coutformahd">
                            <label class="form-check-label  col-2 ">Oui </label>


                            <input type="radio" class="form-check-input col-2" name="option7"formControlName="coutformahd">
                            <label class="form-check-label col-3 margin-right"> Non </label>

                            <p>si oui quel sont les jours ou les horaires dont vous êtes disponible?</p>
                            <input type="text" class="lieu"formControlName="coutformahd">

                        </div>
                    </div>
                </div>

                <div class="row mt-2">
                    <div class="checkbox_box">


                        <div class="row">

                            <h5 class=" col-3">Critères d’enfance: </h5>

                            <input type="text" class="infopro"formControlName="coutformahd">

                        </div>

                        <div class="row mt-2">

                            <h5 class=" col-3">Le plus beau moment: </h5>

                            <input type="text" class="infopro"formControlName="coutformahd">

                        </div>
                        <div class="row mt-2">

                            <h5 class=" col-3">Le plus mauvais moment: </h5>

                            <input type="text" class="infopro"formControlName="coutformahd">

                        </div>


                        <div class=" table-responsive text-center mt-5">
                            <table>

                                <thead>
                                    <tr>


                                        <th>POINTS DE FORCE</th>
                                        <th>POINTS A AMÉLIORER</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td> <input type="text" class="point"formControlName="coutformahd"></td>
                                        <td> <input type="text" class="point"formControlName="coutformahd"></td>
                                    </tr>


                                </tbody>

                            </table>
                        </div>

                        <div class=" table-responsive text-center mt-5">
                            <h5>En cas de mariage: </h5>
                            <table>

                                <thead>
                                    <tr>

                                        <th>Nom & prénom de l’époux(se)</th>
                                        <th><input type="text" class="point"formControlName="coutformahd"></th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th>Date de naissance</th>
                                        <td><input type="text" class="point"formControlName="coutformahd"></td>
                                    </tr>
                                    <tr>
                                        <th>Niveau d’étude</th>
                                        <td><input type="text" class="point"formControlName="coutformahd"></td>
                                    </tr>
                                    <tr>
                                        <th>Fonction</th>
                                        <td><input type="text" class="point"formControlName="coutformahd"></td>
                                    </tr>
                                    <tr>
                                        <th>Salaire:</th>
                                        <td><input type="text" class="point"formControlName="coutformahd"></td>
                                    </tr>
                                    <tr>
                                        <th>État de l’époux(se)</th>
                                        <td><input type="text" class="point"formControlName="coutformahd"></td>
                                    </tr>


                                </tbody>

                            </table>
                        </div>

                        <div class=" table-responsive text-center mt-5">
                            <h5>Vos enfants: </h5>
                            <table>

                                <thead>
                                    <tr>

                                        <th>Ordre</th>
                                        <th>Prénom</th>
                                        <th>Date de naissance</th>
                                        <th>Niveau d’étude</th>
                                        <th>Centre d’intérêt</th>
                                        <th>État de santé</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>

                                        <td><input type="text" class="point"formControlName="coutformahd"></td>
                                        <td><input type="text" class="point"formControlName="coutformahd"></td>
                                        <td><input type="text" class="point"formControlName="coutformahd"></td>
                                        <td><input type="text" class="point"formControlName="coutformahd"></td>
                                        <td><input type="text" class="point"formControlName="coutformahd"></td>
                                        <td><input type="text" class="point"formControlName="coutformahd"></td>
                                    </tr>


                                </tbody>

                            </table>
                        </div>


                        <div class=" table-responsive text-center mt-5">

                            <ul class="text-start">
                                <li class="h5"> Formation académique</li>
                            </ul>
                            <table>

                                <thead>
                                    <tr>

                                        <th>Niveau</th>
                                        <th>Spécialité</th>
                                        <th>Année</th>
                                        <th>Établissement</th>


                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th><input type="text" class="point"formControlName="coutformahd"></th>
                                        <td><input type="text" class="point"formControlName="coutformahd"></td>
                                        <td><input type="text" class="point"formControlName="coutformahd"></td>
                                        <td><input type="text" class="point"formControlName="coutformahd"></td>
                                    </tr>


                                    <tr>
                                        <th><input type="text" class="point"formControlName="coutformahd"></th>
                                        <td><input type="text" class="point"formControlName="coutformahd"></td>
                                        <td><input type="text" class="point"formControlName="coutformahd"></td>
                                        <td><input type="text" class="point"formControlName="coutformahd"></td>
                                    </tr>

                                    <tr>
                                        <th><input type="text" class="point"formControlName="coutformahd"></th>
                                        <td><input type="text" class="point"formControlName="coutformahd"></td>
                                        <td><input type="text" class="point"formControlName="coutformahd"></td>
                                        <td><input type="text" class="point"formControlName="coutformahd"></td>
                                    </tr>

                                </tbody>

                            </table>
                        </div>

                        <div class=" table-responsive text-center mt-5">

                            <ul class="text-start">
                                <li class="h5"> Formation complémentaire</li>
                            </ul>
                            <table>
                                <thead>
                                    <tr>
                                        <th>Formation</th>
                                        <th>Attestation</th>
                                        <th>Année</th>
                                        <th>Établissement</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><input type="text" class="point"formControlName="coutformahd"></td>
                                        <td><input type="text" class="point"formControlName="coutformahd"></td>
                                        <td><input type="text" class="point"formControlName="coutformahd"></td>
                                        <td><input type="text" class="point"formControlName="coutformahd"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class=" table-responsive text-center mt-5">

                            <ul class="text-start">
                                <li class="h5">Expérience professionnelle</li>
                            </ul>
                            <table>

                                <thead>
                                    <tr>
                                        <th>Société/Secteur</th>
                                        <th>Du...Au...</th>
                                        <th>Fonction(s) Assuré(s)</th>
                                        <th>Initiatives/Difficultés rencontrés</th>
                                        <th>Salaire</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><input type="text" class="point"formControlName="coutformahd"></td>
                                        <td><input type="text" class="point"formControlName="coutformahd"></td>
                                        <td><input type="text" class="point"formControlName="coutformahd"></td>
                                        <td><input type="text" class="point"formControlName="coutformahd"></td>
                                        <td><input type="text" class="point"formControlName="coutformahd"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="row">
                            <div class="checkbox_box">
                                <p>
                                <h5 class=" col-3">Activité de bénévolat: </h5>
                                <div class="row">
                                    <input type="radio" class="form-check-input mr-sm-2 " name="option8"formControlName="coutformahd">
                                    <label class="form-check-label  col-2 ">Oui </label>
                                    <input type="radio" class="form-check-input col-2 " name="option8"formControlName="coutformahd">
                                    <label class="form-check-label col-3"> Non</label>
                                    <div class="row">
                                        <p class="col-8">si oui quel sont les jours ou les horaires dont vous êtes
                                            disponible?</p>
                                        <input type="text" class="infopro"formControlName="coutformahd">
                                    </div>
                                    <div class="row mt-2">
                                        <p>Lieu?</p>
                                        <input type="text" class="lieu"formControlName="coutformahd">
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="row mt-3">
                            <div class="checkbox_box">

                                <h5 class=" col-3">Vous exercez l’activité: </h5>
                                <div class="row">
                                    <input type="radio" class="form-check-input mr-sm-2  " name="option9"formControlName="coutformahd">
                                    <label class="form-check-label  col-2 ">Régulièrement </label>

                                    <input type="radio" class="form-check-input col-2 " name="option9"formControlName="coutformahd">
                                    <label class="form-check-label col-3"> Non régulière</label>

                                </div>
                            </div>
                        </div>

                        <div class=" table-responsive text-center mt-5">
                            <ul class="text-start">
                                <li class="h5">Langue:</li>
                            </ul>
                            <table>

                                <thead>
                                    <tr>
                                        <th>Arabe</th>
                                        <th>Français</th>
                                        <th>Anglais</th>
                                        <th>Autre</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><input type="text" class="point"formControlName="coutformahd"></td>
                                        <td><input type="text" class="point"formControlName="coutformahd"></td>
                                        <td><input type="text" class="point"formControlName="coutformahd"></td>
                                        <td><input type="text" class="point"formControlName="coutformahd"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class=" mt-2 mb-2 end-50">

                            <button type="button" class="btn btn-primary mt-2 " (click)="submit()"> Ajouter</button>
                        </div>
                    </div>
                </div>
            </div>--->
                </div>

                <div class=" mt-2 mb-2 end-50">

                    <button type="button" class="btn btn-primary mt-2 " (click)="submit()"> Ajouter</button>
                </div>
            </div>
        </div>
    </form>
</div>