<div class="border border-primary mt-1 ">
    <div class="col  ">
        <h1 class="text-center"> Fiche d'evaluation psychique</h1>
    </div>
</div>

<div class="container">


    <div class="shadow-lg p-3 mb-5 mt-5 bg-body rounded">
        <form id="contact-form" role="form" [formGroup]="testForm">
            <div >
                <hr>
                <div class="row justify-content-center">

                    <div class="col-md-5">
                        <div class="form-group">
                            <label for="form_name">Nom et Prenom </label>

                            <p></p>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group">
                            <label for="form_name">Objet D'évaluation</label>

                            <p></p>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group">
                            <label for="form_name">Date d'evaluation </label>

                            <p></p>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group">
                            <label for="form_name">Décision de la direction</label>

                            <p></p>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group">
                            <label for="form_name">Categorie</label>

                            <p></p>
                        </div>
                    </div>



                </div>

                <hr>
                <div >
                    <h2 class="text-center"></h2>
                    <table  style="border: 1px solid black; width: 100%; text-align: center; margin-bottom: 50px;"
                        >

                        <thead class="thead-bordered" >

                            <tr class="h5 text-center" >
                                <th colspan="4"> </th>
                            </tr>

                        </thead>
                        <tbody>
                            <tr class="text-bold ">

                                <td>num</td>
                                <td>INDICATEUR DE MESURE</td>
                                <td>POINTS</td>
                            </tr>
                            <!--<tr class="text-bold " *ngFor="let obj6 of Infoficheevaluations[0].category">
                                <td rowspan="7" class="text-center p-5">{{obj6.label}}</td>
                            </tr>-->
                            <tr >
                                <th></th>
                                <td></td>
                                <td><select class="form-select" aria-label="Default select example">
                                        <option selected>Choisir un point</option>
                                        <option value="1">0</option>
                                        <option value="2">1</option>
                                    </select></td>
                            </tr>

                            <tr class="text-bold text-center">
                                <td colspan="2">SCORE</td>
                                <td colspan="2">note</td>
                            </tr>
                            <tr class="text-bold text-center"  >
                                <td colspan="2">Niveau visé: Niveau 1 /</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <hr>
            </div>
        </form>
    </div>
</div>