<div class="border border-primary  ">

    <div class="col  ">
        <h1 class="text-center"> Profil de Poste</h1>
    </div>
    <div class="col ">
        <p class="text-center">
            Code:PR07F01<br>
            Version:00
        </p>

    </div>
</div>





<body>
    <div class="container" >
        <div class="shadow-lg p-3 mb-5 bg-body rounded">
            <div class=" mt-2 mb-2 end-50">
                <!---->
                <button type="button" class="btn btn-success" routerLink="/edit-datail-profil/{{Detailprofilpostes.id}}"  ><i
                        class="far fa-edit"></i> Modifier</button>
            </div>
            <div class="dj1">
                <div class="row">
                    <div class="text-start mt-2 ">
                        <label type="label"  class="form-control" required="required" formControlName="majndc"> MAJ N°: </label>
                    </div>
                    <div class="text-center">
                        <label type="label" class="form-control" required="required" formControlName="dudc"></label>
                    </div>
                </div>
                <div class="text-bold">
                    <label class="m-2" type="label" class="form-control" required="required" formControlName="fonction"> Fonction: </label>
                    <br>
                    <label class="m-2" type="label" class="form-control" required="required" formControlName="categorie"> Catégorie: </label>
                    <br>
                    <label class="m-2" type="label" class="form-control" required="required" formControlName="superhierar">Supérieur hiérarchique:  </label>
                    <br>
                    <label class="m-2" type="label" class="form-control" required="required" formControlName="supervision">Supervision:</label>
                    <br>
                    <label class="m-2" type="label"  class="form-control" required="required" formControlName="interim">Intérim: </label>
                </div>
            </div>

        </div>
        <div class="dj2" >

            <div class="shadow-lg p-3 mb-5 bg-body rounded">
                <div class="text-center">
                    <h4>Profil du poste</h4>
                    <h5 class="mt-3 mb-2" class="form-control" required="required" formControlName="competence"> </h5>
                </div>
                <label class="m-2" type="label" class="form-control " required="required" formControlName="niveauvise"> </label>

                <div class="text-center">
                    <h5 class="mt-3 mb-2" class="form-control mt-3" required="required" formControlName="competence"></h5>
                    <h6 class="mt-2" class="form-control mt-3" required="required" formControlName="souscompetence"> </h6>
                </div>
                <label class="m-2" type="label" class="form-control mt-3" required="required" formControlName="niveauvise"> NIVEAU VISE : </label>
                <label class="m-2" type="label" class="form-control mt-3" required="required" formControlName="indicateursuivi"> INDICATEURS DE SUIVI : <br> </label>
                <div class="text-center">
                    <h5 class="m-2" class="form-control mt-3" required="required" formControlName="competence"> </h5>
                </div>
                <h6 class="m-2" class="form-control mt-3" required="required" formControlName="souscompetence"></h6>

                
                <div class="text-center">
                    <h6 class="m-2" class="form-control mt-3" required="required" formControlName="souscompetence"> </h6>
                </div>

                <label class="m-2" type="label" class="form-control mt-3" required="required" formControlName="niveauvise"> NIVEAU VISE : </label>
                <label class="m-2" type="label" class="form-control mt-3" required="required" formControlName="indicateursuivi"> INDICATEURS DE SUIVI : <br> </label>

                <div class="text-center">
                    <h6 class="m-2" class="form-control mt-3" required="required" formControlName="competence"></h6>
                </div>
                <label class="m-2" type="label" class="form-control mt-3" required="required" formControlName="niveauvise"> NIVEAU VISE :  </label>
                <label class="m-2" type="label" class="form-control mt-3" required="required" formControlName="indicateursuivi">INDICATEURS DE SUIVI : <br> </label>

                <div class="text-center">
                    <h6 class="m-2" class="form-control mt-3" required="required" formControlName="competence"></h6>
                </div>
                <label class="m-2" type="label" class="form-control mt-3" required="required" formControlName="niveauvise"> NIVEAU VISE : </label>
                <label class="m-2" type="label" class="form-control mt-3" required="required" formControlName="indicateursuivi"> INDICATEURS DE SUIVI :<br> </label>
                <div class="text-center">
                    <h6 class="m-2" class="form-control mt-3" required="required" formControlName="competence"></h6>
                </div>

                <label class="m-2" type="label" class="form-control mt-3" required="required" formControlName="niveauvise"> NIVEAU VISE : </label>
                <label class="m-2" type="label" class="form-control mt-3" required="required" formControlName="indicateursuivi"> INDICATEURS DE SUIVI : <br></label>
                <div class="text-center">
                    <h6 class="m-2" class="form-control mt-3" required="required" formControlName="competence"></h6>
                </div>

                <label class="m-2" type="label" class="form-control mt-3" required="required" formControlName="niveauvise"> NIVEAU VISE : </label>
                <label class="m-2" type="label" class="form-control mt-3" required="required" formControlName="indicateursuivi"> INDICATEURS DE SUIVI : <br></label>
            </div>

            <div class="shadow-lg p-3 mb-5 bg-body rounded">
                <div class="text-center">
                    <h5 class="m-2" class="form-control mt-3" required="required" formControlName="souscompetence"> </h5>
                </div>
                <label class="m-2" type="label" class="form-control mt-3" required="required" formControlName="niveauvise">  </label>

                <div class="text-center">
                    <h5 class="m-2" class="form-control mt-3" required="required" formControlName="souscompetence"></h5>
                </div>
                <label class="m-2" type="label" class="form-control mt-3" required="required" formControlName="niveauvise">  </label>

                <div class="text-center">
                    <h5 class="m-2" class="form-control mt-3" required="required" formControlName="souscompetence">  </h5>
                </div>
                <label class="m-2" type="label" class="form-control mt-3" required="required" formControlName="niveauvise"> </label>

                <div class=" table-responsive ">
                    <table class="  table table-bordered ">
                        <thead>
                            <tr class="text-bold">
                                <th scope="col"></th>
                                <th scope="col">Élaboration</th>
                                <th scope="col">Vérification</th>
                                <th scope="col">Approbation</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>

                                <th class="text-bold">Fonction</th>
                                <td class="form-control" required="required"
                                formControlName="fonctionelaboration"></td>
                                <td class="form-control mt-3" required="required" formControlName="fonctionverification"></td>
                                <td class="form-control mt-3" required="required" formControlName="fonctionabrobation"></td>
                            </tr>
                            <tr>

                                <th class="text-bold">Nom et Prénom</th>
                                <td class="form-control mt-3" required="required" formControlName="nomprenomelab"></td>
                                <td class="form-control mt-3" required="required" formControlName="nomprenomverif"></td>
                                <td class="form-control mt-3" required="required" formControlName="nomprenomabrob"></td>

                            </tr>

                        </tbody>

                    </table>
                </div>
            </div>
        </div>


    </div>
</body>
