<div class="border border-primary ">

    <div class="col  ">
        <h1 class="text-center"> Profil de Poste</h1>
    </div>
    <div class="col ">
        <p class="text-center">
            Code:PR07F01<br>
            Version:00
        </p>

    </div>
</div>




<div class="container" *ngIf="open">
    <form id="contact-form" role="form" [formGroup]="profilposteForm">
        <div>
            <div class="shadow-lg p-3 mb-5 bg-body rounded">
                <div class=" mt-2 mb-2 end-50">
                    <button type="button" class="btn btn-success"><i
                            class="far fa-edit"></i>
                        Modifier</button>
                </div>

                <div class="dj1">
                    <div class="row">
                        <div class="text-start mt-2 ">
                            <label type="label"> MAJ
                                N°: </label>
                        </div>
                        <div class="text-center">
                            <label type="label"> </label>
                        </div>
                    </div>
                    <div class="text-bold">
                        <label class="m-2" type="label"> Fonction: </label>
                       <input type="text" class="form-control" required="required" formControlName="fonction"
                        [(ngModel)]="detailpp.fonction" >
                       
                        <br>
                        <label class="m-2" type="label"> Catégorie: </label>
                     <input type="text" class="form-control" required="required" formControlName="categorie_id"
                        [(ngModel)]="detailpp.category.label" >
                       
                        <label class="m-2" type="label">Supérieur hiérarchique: </label>
                        <input type="text" class="form-control" required="required" formControlName="superhierar"
                        [(ngModel)]="detailpp.superhierar" >
                     
                        <br>
                        <label class="m-2" type="label">Supervision:</label>
                        <input type="text" class="form-control" required="required" formControlName="supervision"
                        [(ngModel)]="detailpp.supervision" >
                   

                        <br>
                        <label class="m-2" type="label">Intérim: </label>
                        <input type="text" class="form-control" required="required" formControlName="interim"
                        [(ngModel)]="detailpp.interim" >
                       
                    </div>
                </div>

            </div>
        </div>
       <div class="dj2">
        
                            <!-- <div class="shadow-lg p-3 mb-5 bg-body rounded">
                                <div class="text-center">
                                    <h4>Profil du poste</h4>
                                    <h5 class="mt-3 mb-2">
                                        <input type="text" class="form-control" required="required"
                                            formControlName="competence_id" [(ngModel)]="detailpp.competence.label"
                                            >
                                    </h5>
                                </div>

                                 <input type="text" class="form-control" required="required"
                                    formControlName="niveauvise_id" [(ngModel)]="detailpp.niveauvise.label" > 

                                <div class="text-center">
                                    <h5 class="mt-3 mb-2">
                                        <input type="text" class="form-control mt-3" required="required"
                                            formControlName="label" [(ngModel)]="detailpp.competence.label" >
                                    </h5>
                                    <h6 class="mt-2">
                                        <input type="text" class="form-control mt-3" required="required"
                                            formControlName="soucompetence"
                                            [(ngModel)]="detailpp.competence.soucompetence" >
                                    </h6>
                                </div>
                                <label class="m-2" type="label"> NIVEAU VISE : </label>
                                 <input type="text" class="form-control mt-3" required="required"
                                    formControlName="niveauvise-id" [(ngModel)]="detailpp.niveauvise.label" > 

                                <label class="m-2" type="label"> INDICATEURS DE SUIVI : <br>
                                </label>
                                <input type="text" class="form-control mt-3" required="required"
                                    formControlName="indicateursuivi" [(ngModel)]="detailpp.indicateursuivi" >
                                <div class="text-center">
                                    <h5 class="m-2">
                                        <input type="text" class="form-control mt-3" required="required"
                                            formControlName="competence" [(ngModel)]="detailpp.competence" >
                                    </h5>
                                </div>
                                <h6 class="m-2">
                                    <input type="text" class="form-control mt-3" required="required"
                                        formControlName="souscompetence" [(ngModel)]="detailpp.souscompetence" >

                                </h6>


                                <div class="text-center">
                                    <h6 class="m-2">
                                        <input type="text" class="form-control mt-3" required="required"
                                            formControlName="souscompetence" [(ngModel)]="detailpp.souscompetence"
                                            >
                                    </h6>
                                </div>

                                <label class="m-2" type="label"> NIVEAU VISE : </label>
                                <input type="text" class="form-control mt-3" required="required"
                                    formControlName="niveauvise" [(ngModel)]="detailpp.niveauvise" >

                                <label class="m-2" type="label"> INDICATEURS DE SUIVI : <br> </label>

                                <input type="text" class="form-control mt-3" required="required"
                                    formControlName="indicateursuivi" [(ngModel)]="detailpp.indicateursuivi" >

                                <div class="text-center">
                                    <h6 class="m-2">
                                        <input type="text" class="form-control mt-3" required="required"
                                            formControlName="competence" [(ngModel)]="detailpp.competence" >
                                    </h6>
                                </div>
                                <label class="m-2" type="label"> NIVEAU VISE : </label>
                                <input type="text" class="form-control mt-3" required="required"
                                    formControlName="niveauvise" [(ngModel)]="detailpp.niveauvise" >

                                <label class="m-2" type="label">INDICATEURS DE SUIVI : <br> </label>

                                <input type="text" class="form-control mt-3" required="required"
                                    formControlName="indicateursuivi" [(ngModel)]="detailpp.indicateursuivi" >

                                <div class="text-center">
                                    <h6 class="m-2">
                                        <input type="text" class="form-control mt-3" required="required"
                                            formControlName="competence" [(ngModel)]="detailpp.competence" >
                                    </h6>
                                </div>
                                <label class="m-2" type="label"> NIVEAU VISE : </label>

                                <input type="text" class="form-control mt-3" required="required"
                                    formControlName="niveauvise" [(ngModel)]="detailpp.niveauvise" >

                                <label class="m-2" type="label"> INDICATEURS DE SUIVI :<br> </label>
                                <input type="text" class="form-control mt-3" required="required"
                                    formControlName="indicateursuivi" [(ngModel)]="detailpp.indicateursuivi" >
                                <div class="text-center">
                                    <h6 class="m-2">

                                        <input type="text" class="form-control mt-3" required="required"
                                            formControlName="competence" [(ngModel)]="detailpp.competence" >

                                    </h6>
                                </div>

                                <label class="m-2" type="label"> NIVEAU VISE : </label>

                                <input type="text" class="form-control mt-3" required="required"
                                    formControlName="niveauvise" [(ngModel)]="detailpp.niveauvise" >

                                <label class="m-2" type="label"> INDICATEURS DE SUIVI : <br></label>

                                <input type="text" class="form-control mt-3" required="required"
                                    formControlName="indicateursuivi" [(ngModel)]="detailpp.indicateursuivi" >

                                <div class="text-center">
                                    <h6 class="m-2">
                                        <input type="text" class="form-control mt-3" required="required"
                                            formControlName="competence" [(ngModel)]="detailpp.competence" >

                                    </h6>
                                </div>

                                <label class="m-2" type="label"> NIVEAU VISE : </label>
                                <input type="text" class="form-control mt-3" required="required"
                                    formControlName="niveauvise" [(ngModel)]="detailpp.niveauvise" >

                                <label class="m-2" type="label"> INDICATEURS DE SUIVI : <br></label>

                                <input type="text" class="form-control mt-3" required="required"
                                    formControlName="indicateursuivi" [(ngModel)]="detailpp.indicateursuivi" >
                            </div>

                            <div class="shadow-lg p-3 mb-5 bg-body rounded">
                                <div class="text-center">
                                    <h5 class="m-2">
                                        <input type="text" class="form-control mt-3" required="required"
                                            formControlName="souscompetence" [(ngModel)]="detailpp.souscompetence"
                                            >

                                    </h5>
                                </div>

                                <input type="text" class="form-control mt-3" required="required"
                                    formControlName="niveauvise" [(ngModel)]="detailpp.niveauvise" >

                                <div class="text-center">
                                    <h5 class="m-2">

                                        <input type="text" class="form-control mt-3" required="required"
                                            formControlName="souscompetence" [(ngModel)]="detailpp.souscompetence"
                                            >
                                    </h5>
                                </div>


                                <input type="text" class="form-control mt-3" required="required"
                                    formControlName="niveauvise" [(ngModel)]="detailpp.niveauvise" >

                                <div class="text-center">
                                    <h5 class="m-2">

                                        <input type="text" class="form-control mt-3" required="required"
                                            formControlName="souscompetence" [(ngModel)]="detailpp.souscompetence"
                                            >
                                    </h5>
                                </div> -->

<!-- 
                                <input type="text" class="form-control mt-3" required="required"
                                    formControlName="niveauvise" [(ngModel)]="detailpp.niveauvise" > -->

                                <div class=" table-responsive ">
                                    <table class="  table table-bordered ">
                                        <thead>
                                            <tr class="text-bold">
                                                <th scope="col"></th>
                                                <th scope="col">Élaboration</th>
                                                <th scope="col">Vérification</th>
                                                <th scope="col">Approbation</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>

                                                <th class="text-bold">Fonction</th>
                                                <td>
                                                    <input type="text" class="form-control" required="required"
                                                        formControlName="fonctionelaboration"
                                                        [(ngModel)]="detailpp.nomprenomabrob" >
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control mt-3" required="required"
                                                        formControlName="fonctionverification"
                                                        [(ngModel)]="detailpp.fonctionverification" >
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control mt-3" required="required"
                                                        formControlName="fonctionabrobation"
                                                        [(ngModel)]="detailpp.fonctionabrobation" >
                                                </td>
                                            </tr>
                                            <tr>
                                                <th class="text-bold">Nom et Prénom</th>
                                                <td>
                                                    <input type="text" class="form-control mt-3" required="required"
                                                        formControlName="nomprenomelab"
                                                        [(ngModel)]="detailpp.nomprenomelab" >
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control mt-3" required="required"
                                                        formControlName="nomprenomverif"
                                                        [(ngModel)]="detailpp.nomprenomverif" >
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control mt-3" required="required"
                                                        formControlName="nomprenomabrob"
                                                        [(ngModel)]="detailpp.nomprenomabrob" >
                                                </td>

                                            </tr>

                                        </tbody>

                                    </table>
                                </div>
                            </div>
      
        <!-- </div> -->

    </form>
</div>