<div class="border border-primary row mt-1 ">

    <div class="col-7 text-end mt-2">
        <h1> Profil de Poste</h1>
    </div>
    <div class="col text-end mt-2 ">
        <p>
            Code:PR07F01<br>
            Version:00
        </p>
    </div>
</div>







<div class="container">
    <form id="contact-form" role="form" [formGroup]="DevTForm">
        <div class="row">
            <div class="form-group mx-sm-2 mb-2 mt-2">
                <label type="label">Reférence: </label>
                <input type="text" class="form-control" required="required" formControlName="refdt"
                    [(ngModel)]="  Infogenteckleads.refdt">
            </div>
            <div class="form-group mx-sm-2 mb-2 mt-2">
                <label type="label">MAJ N°: </label>
                <input type="text" class="form-control" required="required" formControlName="majndt"
                    [(ngModel)]="  Infogenteckleads.majndt">
            </div>
            <div class="form-group mx-sm-2 mb-2 mt-2">
                <label type="label">Du:</label>
                <input type="text" class="form-control" required="required" formControlName="dudt"
                    [(ngModel)]="  Infogenteckleads.dudt">
</div>

                <div class="form-group mx-sm-2 mb-2 mt-2">
                    <label class="m-2" type="label"> Fonction: </label>
                    <input type="text" class="form-control" required="required" formControlName="Fonctiondt"
                        [(ngModel)]="  Infogenteckleads.Fonctiondt">

                </div>
                <div class="form-group mx-sm-2 mb-2 mt-2">
                    <label class="m-2" type="label"> Catégorie: </label>
                    <input type="text" class="form-control" required="required" formControlName="Categoriedt"
                        [(ngModel)]="  Infogenteckleads.Categoriedt">
                </div>
                <div class="form-group mx-sm-2 mb-2 mt-2">
                    <label class="m-2" type="label">Supérieur hiérarchique:</label>
                    <input type="text" class="form-control" required="required" formControlName="Suphierdt"
                        [(ngModel)]="  Infogenteckleads.Suphierdt">
                </div>

                <div class="form-group mx-sm-2 mb-2 mt-2">
                    <label class="m-2" type="label">Supervision: </label>
                    <input type="text" class="form-control" required="required" formControlName="Superdt"
                        [(ngModel)]="  Infogenteckleads.Superdt">
                </div>
                <div class="form-group mx-sm-2 mb-2 mt-2">
                    <label class="m-2" type="label">Intérim:</label>

                    <input type="text" class="form-control" required="required" formControlName="Interimdt"
                        [(ngModel)]="  Infogenteckleads.Interimdt">
                </div>
            
        </div>
    </form>
    <form id="contact-form" role="form" [formGroup]="ProfilPForm">

        <div class="shadow p-3 mb-5 bg-body rounded">

            <div class="form-group mx-sm-2 mb-2 mt-2">
                <h4>Profil du poste</h4>

                <input type="text" class="form-control mt-2" required="required" formControlName="comptechdt"
                    [(ngModel)]="Profilposteteckleads.comptechdt">




                <input type="text" class="form-control mt-3" required="required" formControlName="contenucomptechdt"
                    [(ngModel)]="Profilposteteckleads.contenucomptechdt">

            </div>
            <div class="form-group mx-sm-2 mb-2 mt-2">


                <input type="text" class="form-control mt-3" required="required" formControlName="comporgandt"
                    [(ngModel)]="Profilposteteckleads.comporgandt">
                


                <input type="text" class="form-control mt-3" required="required" formControlName="gestempsdt"
                    [(ngModel)]="Profilposteteckleads.gestempsdt">


                <label class="m-2" type="label"> Niveau visé : </label>

                <input type="text" class="form-control mt-2" required="required" formControlName="nvisegestempdt"
                    [(ngModel)]="Profilposteteckleads.nvisegestempdt">


                <label class="m-2" type="label"> Indicateurs de suivi : <br>

                    <input type="text" class="form-control mt-2" required="required" formControlName="isuivigestempdt"
                        [(ngModel)]="Profilposteteckleads.isuivigestempdt">

                </label>



                <input type="text" class="form-control mt-2" required="required" formControlName="compcompordt"
                    [(ngModel)]="Profilposteteckleads.compcompordt">




                <input type="text" class="form-control mt-3" required="required" formControlName="comminteradt"
                    [(ngModel)]="Profilposteteckleads.comminteradt">

                <label class="m-2" type="label"> Niveau visé : </label>

                <input type="text" class="form-control mt-2" required="required" formControlName="nvisecomminteradt"
                    [(ngModel)]="Profilposteteckleads.nvisecomminteradt">

                <label class="m-2" type="label"> Indicateurs de suivi : <br>
                </label>

                <input type="text" class="form-control mt-2"  required="required" formControlName="isuivicomminteradt"
                    [(ngModel)]="Profilposteteckleads.isuivicomminteradt">






                <input type="text" class="form-control mt-3" required="required" formControlName="tracolldt"
                    [(ngModel)]="Profilposteteckleads.tracolldt">



                <label class="m-2" type="label"> Niveau visé : </label>

                <input type="text" class="form-control mt-2" required="required" formControlName="nvisetracolldt"
                    [(ngModel)]="Profilposteteckleads.nvisetracolldt">

                <label class="m-2" type="label"> Indicateurs de suivi : <br>
                </label>

                <input type="text" class="form-control mt-2" required="required" formControlName="isuivitracolldt"
                    [(ngModel)]="Profilposteteckleads.isuivitracolldt">




                <input type="text" class="form-control mt-3" required="required" formControlName="resprobdt"
                    [(ngModel)]="Profilposteteckleads.resprobdt">


                <label class="m-2" type="label"> Niveau visé : </label>

                <input type="text" class="form-control mt-2" required="required" formControlName="nviseresprobdt"
                    [(ngModel)]="Profilposteteckleads.nviseresprobdt">

                <label class="m-2" type="label"> Indicateurs de suivi : <br>
                </label>

                <input type="text" class="form-control mt-2" required="required" formControlName="isuiviresprobdt"
                    [(ngModel)]="Profilposteteckleads.isuiviresprobdt">





                <input type="text" class="form-control mt-3" required="required" formControlName="raisanaldt"
                    [(ngModel)]="Profilposteteckleads.raisanaldt">


                <label class="m-2" type="label"> Niveau visé :</label>

                <input type="text" class="form-control mt-2" required="required" formControlName="nviseraisanaldt"
                    [(ngModel)]="Profilposteteckleads.nviseraisanaldt">

                <label class="m-2" type="label"> Indicateurs de suivi : <br>
                </label>

                <input type="text" class="form-control mt-2" required="required" formControlName="isuiviraisanaldt"
                    [(ngModel)]="Profilposteteckleads.isuiviraisanaldt">



                <input type="text" class="form-control mt-3" required="required" formControlName="leadershipdt"
                    [(ngModel)]="Profilposteteckleads.leadershipdt">



                <label class="m-2" type="label"> Niveau visé :</label>

                <input type="text" class="form-control mt-2" required="required" formControlName="nviseleadershipdt"
                    [(ngModel)]="Profilposteteckleads.nviseleadershipdt">

                <label class="m-2" type="label"> Indicateurs de suivi : <br>
                </label>

                <input type="text" class="form-control mt-2" required="required" formControlName="isuivileadershipdt"
                    [(ngModel)]="Profilposteteckleads.isuivileadershipdt">




                <input type="text" class="form-control mt-3" required="required" formControlName="soudevdt"
                    [(ngModel)]="Profilposteteckleads.soudevdt">



                <label class="m-2" type="label"> Niveau visé :</label>

                <input type="text" class="form-control mt-2" required="required" formControlName="nvisesoudevdt"
                    [(ngModel)]="Profilposteteckleads.nvisesoudevdt">

                <label class="m-2" type="label"> Indicateurs de suivi : <br>
                </label>

                <input type="text" class="form-control mt-2 " required="required" formControlName="isuivisoudevdt"
                    [(ngModel)]="Profilposteteckleads.isuivisoudevdt">


            </div>

            <div class="shadow p-3 mb-5 bg-body rounded">
                <div class="form-group mx-sm-2 mb-2 mt-2">


                    <input type="text" class="form-control mt-2" required="required" formControlName="droitdt"
                        [(ngModel)]="Profilposteteckleads.droitdt">

              


                <input type="text" class="form-control mt-3" required="required" formControlName="contenudroitdt"
                    [(ngModel)]="Profilposteteckleads.contenudroitdt">


                


                    <input type="text" class="form-control mt-3" required="required" formControlName="devoirdt"
                        [(ngModel)]="Profilposteteckleads.devoirdt">

               


                <input type="text" class="form-control mt-3" required="required" formControlName="contenudevoirdt"
                    [(ngModel)]="Profilposteteckleads.contenudevoirdt">


                


                    <input type="text" class="form-control mt-3" required="required" formControlName="validationdt"
                        [(ngModel)]="Profilposteteckleads.validationdt">

           


                <input type="text" class="form-control mt-3" required="required" formControlName="contenuvaliddt"
                    [(ngModel)]="Profilposteteckleads.contenuvaliddt">

</div>
                <div class=" table-responsive ">
                    <table class="  table table-bordered ">
                        <thead>
                            <tr class="text-bold">
                                <th scope="col"></th>
                                <th scope="col">Élaboration</th>
                                <th scope="col">Vérification</th>
                                <th scope="col">Approbation</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>

                                <td class="text-bold">Fonction</td>

                                <td class="text-bold"> <input type="text" class="form-control" required="required"
                                        formControlName="fonctiondt" [(ngModel)]="  Profilposteteckleads.fonctiondt"></td>

                                <td class="text-bold"><input type="text" class="form-control" required="required"
                                        formControlName="fonctiondt1" [(ngModel)]="  Profilposteteckleads.fonctiondt1"></td>

                                <td class="text-bold"> <input type="text" class="form-control" required="required"
                                        formControlName="fonctiondt2" [(ngModel)]="  Profilposteteckleads.fonctiondt2"></td>
                            </tr>
                            <tr>

                                <td class="text-bold">Nom et Prénom</td>

                                <td class="text-bold"><input type="text" class="form-control" required="required"
                                        formControlName="nompredt" [(ngModel)]="  Profilposteteckleads.nompredt"></td>

                                <td class="text-bold"><input type="text" class="form-control" required="required"
                                        formControlName="nompredt1" [(ngModel)]="  Profilposteteckleads.nompredt1"></td>

                                <td class="text-bold"><input type="text" class="form-control" required="required"
                                        formControlName="nompredt2" [(ngModel)]="  Profilposteteckleads.nompredt2"></td>

                            </tr>

                        </tbody>

                    </table>
                </div>
            </div>
</div>
    </form>
    <div class="col-md-12">

        <button class="btn btn-primary m-5" type="submit" (click)="editdetailFormulair()"
            (click)="editprofil()">Terminer</button>

    </div>
</div>