<div class="container ">

    <div class="shadow-lg p-3 mb-5 bg-body rounded mt-5">

       
        <h3 class="text-center mt-5"> Liste des fiches de rensignements </h3>
        
        
        <div class="mb-2 end-50 ">
            <button type="button" class="btn btn-primary " routerLink="/add-fiche-rensignement"><i
                    class=" fas fa-plus-circle"></i>
                Ajouter</button>
        </div>
        <div class=" table-responsive ">
           
            <table class="table table-bordered " >
                <thead>
                    <tr class="text-bold">
                        <th colspan="2">Nom & Prenom </th>
                    </tr>
                </thead>
                <tbody  >
                    
                    <tr *ngFor="let obj of Infoemployes">
                        <td>{{obj.nomprenom}}</td>
                        <td>
                            <!-- "-->
                            <!---routerLink="/detail-fiche-devalu/{{p.id}}"-->
                            
                            <button type="button" class="btn btn-info" [routerLink]='["/detail-fiche-rensignement",obj.id]'><i
                                class="far fa-hand-pointer">Afficher</i></button>
                            <button type="button" class="btn btn-danger" (click)="deletenom(obj.id)"><i class="far fa-trash-alt"
                                >Supprimer</i></button>
                                <button type="button" class="btn btn-success" routerLink="/edit-fiche-rensignement/{{obj.id}}">
                                    <i class="far fa-edit">Modifier</i></button>
                        </td>

                    </tr>

                </tbody>

            </table>
        </div>

    </div>
