<div class="container ">

    <div class="shadow-lg p-3 mb-5 bg-body rounded mt-5">

       
        <h3 class="text-center mt-5"> Liste des fiches de rensignements </h3>
        
        <button class="btn btn-danger " routerLink="/add-fiche-rensignement" >Ajouter</button>
       
        <div class=" table-responsive ">
           
            <table class="table table-bordered " >
                <thead>
                    <tr class="text-bold">
                        <th>Nom & Prenom </th>
                    </tr>
                </thead>
                <tbody  >
                    
                    <tr>
                        <td>nom p</td>
                        <td>
                            <!-- (click)="deletenom(p.id)"-->
                            <!---routerLink="/detail-fiche-devalu/{{p.id}}"-->
                            <button class="btn btn-primary" routerLink="/detail-fiche-rensignement">Afficher</button>
                            <button class="btn btn-danger " >Supprimer</button>
                        </td>

                    </tr>

                </tbody>

            </table>
        </div>

    </div>
