<div class="container">
    <div class=" text-left mt-5 ">
        <button type="button" class="btn btn-primary " routerLink="/listingforma"><i
                class="  fas fa-arrow-alt-circle-left"></i> REV</button>
    </div>
    <div class=" text-center mt-5 ">

        <h1>Créer une formation externe</h1>


    </div>


    <div class="row ">
        <div class="col-lg-10 mx-auto">
            <div class="card mt-2 mx-auto p-4 bg-light">
                <div class="card-body bg-light">
                    <div class="container">
                        <form id="contact-form" role="form" [formGroup]="externeForm">
                            <div class="controls">

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="form-label">Type de compétence</label>
                                            <input type="text" class="form-control" placeholder="Type de compétence"
                                                required="required" formControlName="typecomp">
                                            <div *ngIf="externeForm.get('typecomp').errors?.required"
                                                class="error-message" style="color:red">
                                                *Ce champ est obligatoire.</div>
                                            <div *ngIf="externeForm.get('typecomp').errors?.pattern && (externeForm.get('typecomp').dirty || externeForm.get('typecomp').touched)"
                                                class="error-message" style="color:red">*Ce champ ne contient que des lettres.</div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <label for="staticZone">Thème de formation</label>
                                        <select class="form-control" id="exampleFormControlSelect2"
                                            placeholder="Veuillez choisir votre Thème de formation"
                                            formControlName="themeformation_id">
                                            <option selected disabled value="">Affecter Thème de formation</option>

                                            <option *ngFor="let obj of Themeformations" [ngValue]="obj.id">

                                                {{obj.label}}
                                            </option>
                                        </select>
                                        <div *ngIf="externeForm.get('themeformation_id').errors?.required" class="error-message" style="color:red">
                                            *Ce champ est obligatoire.</div>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="form_label">Participant</label>
                                            <input type="text" class="form-control" placeholder="Participant"
                                                required="required" formControlName="participant">
                                                <div *ngIf="externeForm.get('participant').errors?.required"
                                                class="error-message" style="color:red">
                                                *Ce champ est obligatoire.</div>
                                            <div *ngIf="externeForm.get('participant').errors?.pattern && (externeForm.get('participant').dirty || externeForm.get('participant').touched)"
                                                class="error-message" style="color:red">*Ce champ ne contient que des lettres.</div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="form_label">Nomber de participants</label>
                                            <input type="number" class="form-control" placeholder="0"
                                                required="required" formControlName="nbparticipant">
                                                <div *ngIf="externeForm.get('nbparticipant').errors?.required"
                                                class="error-message" style="color:red">
                                                *Ce champ est obligatoire.</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="form_label">Raison de formation</label>
                                            <input type="text" class="form-control" placeholder="Raison"
                                                required="required" formControlName="raisonforma">
                                                <div *ngIf="externeForm.get('raisonforma').errors?.required"
                                                class="error-message" style="color:red">
                                                *Ce champ est obligatoire.</div>
                                            <div *ngIf="externeForm.get('raisonforma').errors?.pattern && (externeForm.get('raisonforma').dirty || externeForm.get('raisonforma').touched)"
                                                class="error-message" style="color:red">*Ce champ ne contient que des lettres.</div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="form_label">Organisme de formation</label>
                                            <input type="text" class="form-control" placeholder="Organisme"
                                                required="required" formControlName="organismeforma">
                                                <div *ngIf="externeForm.get('organismeforma').errors?.required"
                                                class="error-message" style="color:red">
                                                *Ce champ est obligatoire.</div>
                                            <div *ngIf="externeForm.get('organismeforma').errors?.pattern && (externeForm.get('organismeforma').dirty || externeForm.get('organismeforma').touched)"
                                                class="error-message" style="color:red">*Ce champ ne contient que des lettres.</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="form_label">Formalité de réalisation</label>
                                            <input type="text" class="form-control" placeholder="Formalité"
                                                required="required" formControlName="formalite">
                                                <div *ngIf="externeForm.get('formalite').errors?.required"
                                                class="error-message" style="color:red">
                                                *Ce champ est obligatoire.</div>
                                            <div *ngIf="externeForm.get('formalite').errors?.pattern && (externeForm.get('formalite').dirty || externeForm.get('formalite').touched)"
                                                class="error-message" style="color:red">*Ce champ ne contient que des lettres.</div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="form_label">Formateur</label>
                                            <input type="text" class="form-control" placeholder="Formateur"
                                                required="required" formControlName="formateur">
                                                <div *ngIf="externeForm.get('formateur').errors?.required"
                                                class="error-message" style="color:red">
                                                *Ce champ est obligatoire.</div>
                                            <div *ngIf="externeForm.get('formateur').errors?.pattern && (externeForm.get('formateur').dirty || externeForm.get('formateur').touched)"
                                                class="error-message" style="color:red">*Ce champ ne contient que des lettres.</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="form_label">Raison de choix</label>
                                            <input type="text" class="form-control" placeholder="Raison de choix"
                                                required="required" formControlName="raisonchoix">
                                                <div *ngIf="externeForm.get('raisonchoix').errors?.required"
                                                class="error-message" style="color:red">
                                                *Ce champ est obligatoire.</div>
                                            <div *ngIf="externeForm.get('raisonchoix').errors?.pattern && (externeForm.get('raisonchoix').dirty || externeForm.get('raisonchoix').touched)"
                                                class="error-message" style="color:red">*Ce champ ne contient que des lettres.</div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="form_label">Durée de formation </label>
                                            <input type="number" class="form-control" placeholder="0"
                                                required="required" formControlName="dureeforma">
                                                <div *ngIf="externeForm.get('dureeforma').errors?.required"
                                                class="error-message" style="color:red">
                                                *Ce champ est obligatoire.</div>
                                        </div>
                                    </div>
                                </div>


                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="form_label">NB/jour</label>
                                            <input type="number" class="form-control" placeholder="NB/jour"
                                                required="required" formControlName="nbjour">
                                                <div *ngIf="externeForm.get('nbjour').errors?.required"
                                                class="error-message" style="color:red">
                                                *Ce champ est obligatoire.</div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="form_label">NB/H de jour </label>
                                            <input type="number" class="form-control" placeholder="0"
                                                required="required" formControlName="nbhjour">
                                                <div *ngIf="externeForm.get('nbhjour').errors?.required"
                                                class="error-message" style="color:red">
                                                *Ce champ est obligatoire.</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="form_label">Date</label>
                                            <input type="date" class="form-control" required="required"
                                                formControlName="date">
                                                <div *ngIf="externeForm.get('date').errors?.required"
                                                class="error-message" style="color:red">
                                                *Ce champ est obligatoire.</div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="form_label">Horaire formation </label>
                                            <input type="time" class="form-control" required="required"
                                                formControlName="horaireforma">
                                                <div *ngIf="externeForm.get('horaireforma').errors?.required"
                                                class="error-message" style="color:red">
                                                *Ce champ est obligatoire.</div>
                                            
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="form_label">Pause café</label>
                                            <input type="text" class="form-control" placeholder="Pause café"
                                                required="required" formControlName="pause">
                                                <div *ngIf="externeForm.get('pause').errors?.required"
                                                class="error-message" style="color:red">
                                                *Ce champ est obligatoire.</div>
                                            <div *ngIf="externeForm.get('pause').errors?.pattern && (externeForm.get('pause').dirty || externeForm.get('pause').touched)"
                                                class="error-message" style="color:red">*Ce champ ne contient que des lettres.</div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="form_label">Lieu de formation</label>
                                            <input type="text" class="form-control" placeholder="Lieu"
                                                required="required" formControlName="lieuforma">
                                                <div *ngIf="externeForm.get('lieuforma').errors?.required"
                                                class="error-message" style="color:red">
                                                *Ce champ est obligatoire.</div>
                                            <div *ngIf="externeForm.get('lieuforma').errors?.pattern && (externeForm.get('lieuforma').dirty || externeForm.get('lieuforma').touched)"
                                                class="error-message" style="color:red">*Ce champ ne contient que des lettres.</div>
                                        </div>
                                    </div>
                                </div>


                                <div class="row">
                                    <div class="col-md-12">
                                        <span class="text-succes " style="color:red">{{message}}</span>

                                    </div>

                                    <div class="col-md-12">
                                        <button class="btn btn-primary m-5" type="submit"
                                            [disabled]="externeForm.invalid" (click)="submit()"
                                            routerLink="/listingforma/">Ajouter</button>
                                    </div>

                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>