<div class="container">
    <div class=" text-left mt-5 ">
        <button type="button" class="btn btn-primary " routerLink="/listingforma"><i
                class="  fas fa-arrow-alt-circle-left"></i> REV</button>
    </div>
    <div class=" text-center mt-5 ">

        <h1>Créer une formation externe</h1>


    </div>


    <div class="row ">
        <div class="col-lg-10 mx-auto">
            <div class="card mt-2 mx-auto p-4 bg-light">
                <div class="card-body bg-light">
                    <div class="container">
                        <form id="contact-form" role="form" [formGroup]="externeForm">
                            <div class="controls">

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="form-label">Type de compétence</label>
                                            <input type="text" class="form-control" placeholder="Type de compétence"
                                                required="required" formControlName="typecomp">

                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <label for="staticZone">Thème de formation</label>
                                        <select class="form-control" id="exampleFormControlSelect2"
                                            placeholder="Veuillez choisir votre Thème de formation"
                                            formControlName="themeformation_id">
                                            <option selected disabled value="">Affecter Thème de formation</option>

                                            <option *ngFor="let obj of Themeformations" [ngValue]="obj.id">

                                                {{obj.label}}
                                            </option>
                                        </select>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="form_label">Participant</label>
                                            <input type="text" class="form-control" placeholder="Participant"
                                                required="required" formControlName="participant">

                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="form_label">Nomber de participants</label>
                                            <input type="number" class="form-control" placeholder="0"
                                                required="required" formControlName="nbparticipant">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="form_label">Raison de formation</label>
                                            <input type="text" class="form-control" placeholder="Raison"
                                                required="required" formControlName="raisonforma">

                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="form_label">Organisme de formation</label>
                                            <input type="text" class="form-control" placeholder="Organisme"
                                                required="required" formControlName="organismeforma">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="form_label">Formalité de réalisation</label>
                                            <input type="text" class="form-control" placeholder="Formalité"
                                                required="required" formControlName="formalite">

                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="form_label">Formateur</label>
                                            <input type="text" class="form-control" placeholder="Formateur"
                                                required="required" formControlName="formateur">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="form_label">Raison de choix</label>
                                            <input type="text" class="form-control" placeholder="Raison de choix"
                                                required="required" formControlName="raisonchoix">

                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="form_label">Durée de formation </label>
                                            <input type="number" class="form-control" placeholder="0"
                                                required="required" formControlName="dureeforma">
                                        </div>
                                    </div>
                                </div>


                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="form_label">NB/jour</label>
                                            <input type="number" class="form-control" placeholder="NB/jour"
                                                required="required" formControlName="nbjour">

                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="form_label">NB/H de jour </label>
                                            <input type="number" class="form-control" placeholder="0"
                                                required="required" formControlName="nbhjour">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="form_label">Date</label>
                                            <input type="date" class="form-control" required="required"
                                                formControlName="date">

                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="form_label">Horaire formation </label>
                                            <input type="time" class="form-control" required="required"
                                                formControlName="horaireforma">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="form_label">Pause café</label>
                                            <input type="text" class="form-control" placeholder="Pause café"
                                                required="required" formControlName="pause">

                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="form_label">Lieu de formation</label>
                                            <input type="text" class="form-control" placeholder="Lieu"
                                                required="required" formControlName="lieuforma">
                                        </div>
                                    </div>
                                </div>


                                <div class="row">
                                    <div class="col-md-12">
                                        <span class="text-succes " style="color:red">{{message}}</span>
                                            
                                    </div>

                                    <div class="col-md-12">
                                        
                                        <button class="btn btn-primary m-5" type="submit"
                                            (click)="submit()" routerLink="/listingforma/">Ajouter</button>
                                            
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>