<div class="card">
  <div class="card-body">
<div class="row">
  <div class="col">
    <div class="card shadow">
      <div class="card-header border-0 text-center">
        <h3 class="mb-0">Matrice De Competence</h3>
      </div>
      <div class="card-header border-0">
        <h3 class="mb-0">Echelle d'évaluation</h3>
        <div class="row">
          <div class="col-8 mt-3" *ngFor="let obj of Echelleevaluations">
            <ul>
              <li>
                <span [ngStyle]="{'color': dataValue < 0 ? 'red' : 'green'}">
                {{obj.label}}: {{obj.abreviation}} : {{obj.valeur}}
                </span>
              </li>
            </ul>
          </div>
        </div>
        <ul>
          <li>
            Catégorie : (CT)
          </li>
          <li>
            Junior : J
          </li>
          <li>
            Confirmé : C
          </li>
          <li>
            Senior : S
          </li>
        </ul>
      </div>
      </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title mb-2 text-center">Static Table </h5>
        
        <form id="contact-form" role="form" [formGroup]="matriceForm">
        <div class="table-responsive">
      <div class="table-responsive">
        <table class="table  table-bordered align-items-center table-flush" >
          <thead class="thead-light">
            <tr>
              <th>GP </th>
              <td class="text-center" colspan="4" *ngFor="let obj2 of Departements">{{obj2.label}}</td>
              <th *ngFor="let total of Totalpolycompetences" style="background-color: rgb(131, 222, 222);">TOTAL Polycompetence : {{total.valeur}} %</th>
              
            </tr>
          </thead>
          <tbody>
            <tr class="thead-light">
              <th>Nom & Prenom</th>
              <td  *ngFor="let obj3 of Employes">{{obj3.nomprenom}}<br> <div *ngFor="let poly of obj3.polycompetences" style="background-color: coral;">{{poly.valeur}}% </div> </td>
            </tr>

            <tr class="thead-light">
              <th>CT</th>
              <td *ngFor="let obj3 of Employes">{{obj3.category.label}}</td>
            </tr>
            
            <tr scope="col-6" class="thead-light" *ngFor="let obj3 of Souscompetences">
              <th scope="row">{{obj3.label}} 
              <div class="text-center" *ngFor="let obj5 of obj3.polyvalences" style="background-color: coral;">
                {{obj5.valeur}}%
              </div>
              </th>
            
             <!--<td *ngFor="let obj2 of Employes" >
                <select class="form-control" id="exampleFormControlSelect2"  placeholder="Veuillez choisir le niveau">



                  <option *ngFor="let obj4 of abreviation">

                    {{obj4.abreviation}}
                  </option>
                </select>
              </td>--> 

              <!--<td *ngFor="let obj3 of obj3.matrices">
                {{obj3.note}}
              </td>-->

             
            </tr>
            <tr scope="col-6" class="thead-light">
              <th *ngFor="let total of Totalpolyvalences" style="background-color: rgb(131, 222, 222);">TOTAL Polyvalence  : {{total.valeur}} %</th>
            </tr>          
          </tbody>
        </table>  
        <div class="row">
          <div class="mb-2 end-50 ">
            <button type="button" class="btn btn-primary "><i
                    class=" fas fa-plus-circle"></i>
                Sauvegarder</button>
        </div>
      </div>     
      </div>  
    </div>
    </form>
  </div>
</div>
</div>