<div class="row">
  <div class="col">
    <div class="card shadow">
      <div class="card-header border-0 text-center">
        <h3 class="mb-0">Matrice De Competence</h3>
      </div>
      <div class="card-header border-0">
        <h3 class="mb-0">Echelle d'évaluation</h3>
        <div class="row">
          <div class="col-8" *ngFor="let obj of Echelleevaluations">
            <ul>
              <li>
                {{obj.label}}: {{obj.abreviation}} : {{obj.valeur}}
              </li>
            </ul>
          </div>
        </div>
        <ul>
          <li>
            Catégorie : (CT)
          </li>
          <li>
            Junior : J
          </li>
          <li>
            Confirmé : C
          </li>
          <li>
            Senior : S
          </li>
        </ul>
      </div>
      <div class="table-responsive">
       

        <table class="table  table-bordered align-items-center table-flush">
          <thead class="thead-light">
            <tr>
              <th>GP </th>
              <td class="text-center" colspan="4" *ngFor="let obj2 of Departements">{{obj2.label}}</td>
              <th >TOTAL Polyvalence  : 62,25 %</th>
              
            </tr>
          </thead>
          <tbody>
            <tr class="thead-light">
              <th>Nom & Prenom</th>
              <td  *ngFor="let obj3 of Employes">{{obj3.nomprenom}}<br> <div *ngFor="let poly of obj3.polycompetences">{{poly.valeur}} </div> </td>
            </tr>

            <tr class="thead-light">
              <th>CT</th>
              <td *ngFor="let obj3 of Employes">{{obj3.category.label}}</td>
            </tr>
            
            <tr scope="col-6" class="thead-light" *ngFor="let obj1 of Matricecompetences;let i=index">
              <th scope="row">{{obj1.label}} ( {{obj1.abreviation}} )</th>
              
             
              <td *ngFor="let obj3 of Employes">
                <select class="form-control" id="exampleFormControlSelect2"  placeholder="Veuillez choisir le niveau">
                  <option   >{{obj3.matrices[i].note}}</option>

                  <option *ngFor="let obj4 of abreviation">

                    {{obj4.abreviation}}
                  </option>
                </select>
              </td>

              <!--<td *ngFor="let obj6 of Polyvalences">
                <input type="text" class="form-control" 
                required="required" formControlName="valeur">
                {{obj6.valeur}}
                
              </td>-->
              <td *ngFor="let o of Matricecompetences.polyvalences">{{o.valeur}}</td>
            </tr>
           
          </tbody>
        </table>
        
      </div>
    </div>
  </div>
</div>