<aside class="left-sidebar" data-sidebarbg="skin5">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav" class="pt-4">
                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link" routerLink="/home"
                        aria-expanded="false"><i class="fas fa-home"></i><span class="hide-menu">Home</span></a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)"
                        aria-expanded="false"><i class="fas fa-list"></i><span class="hide-menu">Formation et
                            développement </span></a>
                    <ul aria-expanded="false" class="collapse first-level">
                        <li class="sidebar-item">
                            <a routerLink="/listingforma" class="sidebar-link"><i class=" fas fa-arrow-alt-circle-right"></i><span
                                    class="hide-menu"> Formation externe </span></a>
                        </li>
                        <li class="sidebar-item">
                            <a routerLink="/formainternelisting" class="sidebar-link"><i
                                    class=" fas fa-arrow-alt-circle-right"></i><span class="hide-menu"> Formation interne</span></a>
                        </li>
                    </ul>
                </li>

                <li class="sidebar-item">
                    <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)"
                        aria-expanded="false"><i class="fas fa-list"></i><span class="hide-menu">Profil de poste Dev
                        </span></a>
                    <ul aria-expanded="false" class="collapse first-level">
                        <li class="sidebar-item">
                            <a routerLink="/listingdj" class="sidebar-link"><i class=" fas fa-arrow-alt-circle-right"></i><span
                                    class="hide-menu"> Développeur junior </span></a>
                        </li>
                        <li class="sidebar-item">
                            <a routerLink="/listingdc" class="sidebar-link"><i class=" fas fa-arrow-alt-circle-right"></i><span
                                    class="hide-menu"> Développeur confirmé</span></a>
                        </li>
                        <li class="sidebar-item">
                            <a routerLink="/listingds" class="sidebar-link"><i class=" fas fa-arrow-alt-circle-right"></i><span
                                    class="hide-menu"> Développeur senior</span></a>
                        </li>
                        <li class="sidebar-item">
                            <a routerLink="/listingdt" class="sidebar-link"><i class=" fas fa-arrow-alt-circle-right"></i><span
                                    class="hide-menu"> Développeur teck lead</span></a>
                        </li>
                    </ul>
                </li>

                <li class="sidebar-item">
                    <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)"
                        aria-expanded="false"><i class="fas fa-list"></i><span class="hide-menu">Personnel </span></a>
                    <ul aria-expanded="false" class="collapse first-level">
                        <li class="sidebar-item">
                            <a routerLink="/ficherensig" class="sidebar-link"><i class=" fas fa-arrow-alt-circle-right"></i><span
                                    class="hide-menu">Fiche de rensignement</span></a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)"
                                aria-expanded="false"><i class="fas fa-list"></i><span class="hide-menu">Fiche
                                    d'évaluation </span></a>
                            <ul aria-expanded="false" class="collapse first-level">
                                <li class="sidebar-item">
                                    <a href="icon-fontawesome.html" class="sidebar-link"><i
                                            class=" fas fa-arrow-alt-circle-right"></i><span class="hide-menu"> Fiche
                                            d'évaluation psychique </span></a>
                                </li>
                                <li class="sidebar-item">
                                    <a href="icon-fontawesome.html" class="sidebar-link"><i
                                            class=" fas fa-arrow-alt-circle-right"></i><span class="hide-menu"> Test technique
                                        </span></a>
                                </li>
                            </ul>
                        </li>
                        <li class="sidebar-item">
                            <a routerLink="/listingdt" class="sidebar-link"><i class="fas fa-arrow-alt-circle-right"></i><span
                                    class="hide-menu"> Matrice des compétence</span></a>
                        </li>
                    </ul>
                </li>


                <li class="sidebar-item">
                    <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)"
                        aria-expanded="false"><i class="fas fa-list"></i><span class="hide-menu">Gérer les
                            axes</span></a>
                    <ul aria-expanded="false" class="collapse first-level">
                        <li class="sidebar-item">
                            <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)"
                                aria-expanded="false"><i class="fas fa-list"></i><span class="hide-menu">Profil de
                                    poste</span></a>

                            <ul aria-expanded="false" class="collapse first-level">
                                <li class="sidebar-item">
                                    <a routerLink="/addprofil" class="sidebar-link"><i
                                            class=" fas fa-arrow-alt-circle-right"></i><span class="hide-menu"> Créer un profil
                                            de poste </span></a>
                                </li>
                                <li class="sidebar-item">
                                    <a href="error-404.html" class="sidebar-link"><i
                                            class=" fas fa-arrow-alt-circle-right"></i><span class="hide-menu"> Liste des profils
                                            des poste</span></a>
                                </li>
                            </ul>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)"
                                aria-expanded="false"><i class="fas fa-list"></i><span
                                    class="hide-menu">Formation</span></a>

                            <ul aria-expanded="false" class="collapse first-level">
                                <li class="sidebar-item">
                                    <a href="error-405.html" class="sidebar-link"><i
                                            class=" fas fa-arrow-alt-circle-right"></i><span class="hide-menu"> Thémes des
                                            formations </span></a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>

            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>