<aside class="left-sidebar " data-sidebarbg="skin5"style="
 height: 100%;

  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  overflow-x: hidden; /* Disable horizontal scroll */
 ">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">





            <ul id="sidebarnav" class="pt-2">
               <!-- <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link" routerLink="/home"
                        aria-expanded="false"><i class="fas fa-home"></i><span class="hide-menu">Home</span></a>
                </li>-->

                 <!-- Divider -->
          <!--  <hr class="sidebar-divider my-0">-->

                <li class="sidebar-item ">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link" routerLink="/dashboard"
                        aria-expanded="false"><i class=" fas fa-chart-bar"></i><span class="hide-menu">Reporting</span></a>
                </li>

                 <!-- Divider -->
            <hr class="sidebar-divider my-0">

                <li class="sidebar-item">
                    <a class="sidebar-link has-arrow waves-effect waves-dark" aria-expanded="false"><i
                            class="fas fa-ellipsis-h"></i><span class="hide-menu">Formation et
                            développement </span></a>
                    <ul aria-expanded="false" class="collapse first-level">
                        <li class="sidebar-item">
                            <a routerLink="/listingforma" class="sidebar-link">
                                <i class="fas fa-certificate"></i>
                                <span class="hide-menu"> Formation
                                    externe </span></a>
                        </li>
                        <li class="sidebar-item">
                            <a routerLink="/formainternelisting" class="sidebar-link"><i class="fas fa-certificate"></i>
                                <span class="hide-menu"> Formation
                                    interne</span></a>
                        </li>
                    </ul>
                </li>





                <!-- <li class="sidebar-item">
                    <a class="sidebar-link has-arrow waves-effect waves-dark" aria-expanded="false"><i
                            class="fas fa-ellipsis-h"></i><span class="hide-menu">Profil de poste </span></a>
                    <ul aria-expanded="false" class="collapse first-level">
                        <li class="sidebar-item" *ngFor="let obj of poste">
                            <a class="sidebar-link"><i class=" fas fa-arrow-alt-circle-right"></i><span
                                    class="hide-menu" routerLink="Detail-profile/{{obj.id}}"> {{obj.label}} </span></a>
                        </li>
                    </ul>
                </li>-->


                <!-- <li class="sidebar-item">
                    <a class="sidebar-link has-arrow waves-effect waves-dark" aria-expanded="false"><i
                            class="fas fa-ellipsis-h"></i><span class="hide-menu">Profil de poste </span>
                    </a>
                    <ul aria-expanded="false" class="collapse first-level">

                        <li class="sidebar-item">

                            <a class="sidebar-link has-arrow waves-effect waves-dark" style="display: grid;"
                                aria-expanded="false">

                        <li aria-expanded="false" class="" *ngFor="let obj of poste">
                            <i class="fas fa-ellipsis-h"></i>
                            <span (click)="getid(obj.id)" class="hide-menu">
                                {{obj.label}}</span></a>
                        </li>

                        <li class="sidebar-item" *ngFor="let obj of Categories">
                            <a class="sidebar-link"><i class=" fas fa-arrow-alt-circle-right"></i><span
                                    class="hide-menu" routerLink="Detail-profile/{{obj.id}}"> {{obj.label}}
                                </span></a>
                        </li>
                    </ul>
                </li>-->





                <!-- <li class="sidebar-item">
                    <a class="sidebar-link has-arrow waves-effect waves-dark" aria-expanded="false" ><i
                            class="fas fa-ellipsis-h"></i><span class="hide-menu">Profil de poste </span>
                    </a>
                    <ul aria-expanded="false" class="collapse first-level">

                        <div  *ngFor="let obj of poste">
                            <li class="sidebar-item"  >
                            <a class="sidebar-link has-arrow waves-effect waves-dark" 
                                aria-expanded="false">

                               
                                    <i class="fas fa-ellipsis-h"></i>
                                   
                                    <span    class="hide-menu" (click)="getid(obj.id)">{{obj.label}}</span>
                                
                            </a>
                            </li>
                        </div>
                            


                                <li class="sidebar-item" *ngFor="let obj of Categories">
                                    <a class="sidebar-link"><i class=" fas fa-arrow-alt-circle-right"></i><span
                                            class="hide-menu" routerLink="Detail-profile/{{obj.id}}"> {{obj.label}}
                                        </span>
                                    </a>
                                </li>-->


                <!-- <li class="sidebar-item">
                                    <a class="sidebar-link"><i class=" fas fa-arrow-alt-circle-right"></i><span
                                        class="hide-menu">aaa</span></a>

                                </li>
                          
                          
                            
                    </ul>
                </li>-->









                <!-- <ul aria-expanded="false" class="collapse first-level">
                                <li class="sidebar-item">
                                    <a href="icon-fontawesome.html" class="sidebar-link">
                                        <i class=" fas fa-arrow-alt-circle-right"></i>
                                    <span class="hide-menu">
                                        aaa </span></a>
                                </li>
                        
                            </ul>-->
 <!-- Divider -->
            <hr class="sidebar-divider my-0">



                <li class="sidebar-item">
                    <a class="sidebar-link has-arrow waves-effect waves-dark" aria-expanded="false"><i
                            class="fas fa-ellipsis-h"></i><span class="hide-menu">Profil de poste </span></a>
                    <ul aria-expanded="false" class="collapse first-level">

                        <li class="sidebar-item">

                            <a class="sidebar-link has-arrow waves-effect waves-dark" aria-expanded="false">
                                <i class="fas fa-laptop"></i><span class="hide-menu"
                                    *ngFor="let obj of poste">{{obj.label}} </span></a>

                            <ul aria-expanded="false" class="collapse first-level">
                                <li class="sidebar-item" *ngFor="let obj of Categories">
                                    <a class="sidebar-link"><i class=" fas fa-arrow-alt-circle-right"></i><span
                                            class="hide-menu" routerLink="Detail-profile/{{obj.id}}">
                                            {{obj.label}}</span></a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
 <!-- Divider -->
 <hr class="sidebar-divider my-0">

                <li class="sidebar-item">
                    <a class="sidebar-link has-arrow waves-effect waves-dark" aria-expanded="false"><i
                            class="fas fa-ellipsis-h"></i><span class="hide-menu">Personnel </span></a>
                    <ul aria-expanded="false" class="collapse first-level">
                        <li class="sidebar-item">
                            <a routerLink="/liste-fiche-rensignement" class="sidebar-link"><i
                                    class=" fas fa-file-alt"></i><span class="hide-menu">Fiche de
                                    rensignement</span></a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link has-arrow waves-effect waves-dark" aria-expanded="false"><i
                                    class="fas fa-ellipsis-h"></i><span class="hide-menu">Fiche
                                    d'évaluation </span></a>
                            <ul aria-expanded="false" class="collapse first-level">
                                <li class="sidebar-item">
                                    <a routerLink="/fiche/liste-fiche-devalu" class="sidebar-link"><i
                                            class=" fas fa-file-alt"></i><span class="hide-menu"> Fiche
                                            d'évaluation psychique </span></a>
                                </li>
                                <li class="sidebar-item">
                                    <a class="sidebar-link has-arrow waves-effect waves-dark" aria-expanded="false"><i
                                            class=" fas fa-ellipsis-h"></i><span class="hide-menu"> Tests
                                            Techniques</span></a>

                                    <ul aria-expanded="false" class="collapse first-level">
                                        <li class="sidebar-item">
                                            <a class="sidebar-link has-arrow waves-effect waves-dark"
                                                aria-expanded="false">
                                                <i class="fas fa-spinner"></i><span *ngFor="let obj of poste"
                                                    class="hide-menu">{{obj.label}} </span>
                                            </a>
                                            <ul aria-expanded="false" class="collapse first-level">
                                                <li class="sidebar-item" *ngFor="let obj of Testtechniques">
                                                    <a class="sidebar-link" routerLink="detail-test/{{obj.id}}" ><i class=" far fa-question-circle"></i><span
                                                            class="hide-menu" >
                                                            {{obj.label}}</span></a>
                                                </li>
                                            </ul>

                                        </li>

                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="sidebar-item">
                            <a routerLink="/liste-matrice" class="sidebar-link"><i
                                    class=" fas fa-tachometer-alt"></i><span class="hide-menu"> Matrice des
                                    compétence</span></a>
                        </li>
                    </ul>
                </li>
 <!-- Divider -->
 <hr class="sidebar-divider my-0">


                <li class="sidebar-item">
                    <a class="sidebar-link has-arrow waves-effect waves-dark" aria-expanded="false"><i
                            class="fas fa-ellipsis-h"></i><span class="hide-menu">Gérer les
                            axes</span></a>
                    <ul aria-expanded="false" class="collapse first-level">
                        <li class="sidebar-item">
                            <a class="sidebar-link has-arrow waves-effect waves-dark" aria-expanded="false"><i
                                    class="fas fa-ellipsis-h"></i><span class="hide-menu">Profil de
                                    poste</span></a>

                            <ul aria-expanded="false" class="collapse first-level">
                                <li class="sidebar-item">
                                    <a routerLink="/addprofil" class="sidebar-link"><i
                                            class=" far fa-plus-square"></i><span class="hide-menu"> Créer un
                                            profil
                                            de poste </span></a>
                                </li>
                                <li class="sidebar-item">
                                    <a routerLink="/listingprofilposte" class="sidebar-link"><i
                                            class="far fa-list-alt"></i><span class="hide-menu"> Liste
                                            des profils
                                            de poste</span></a>
                                </li>
                                <li class="sidebar-item">
                                    <a routerLink="/listingtest" class="sidebar-link"><i
                                            class="  far fa-list-alt"></i><span class="hide-menu"> Liste
                                            des tests techniques</span></a>
                                </li>
                            </ul>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link has-arrow waves-effect waves-dark" aria-expanded="false"><i
                                    class="fas fa-ellipsis-h"></i><span class="hide-menu">Formation</span></a>

                            <ul aria-expanded="false" class="collapse first-level">
                                <li class="sidebar-item">
                                    <a routerLink="/listingtheme" class="sidebar-link"><i
                                            class=" far fa-list-alt"></i><span class="hide-menu"> Thémes
                                            des
                                            formations </span></a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>

            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>