


<aside class="left-sidebar " data-sidebarbg="skin5" style="
 height: 100%;

  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  overflow-x: hidden; /* Disable horizontal scroll */
 ">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav" class="pt-2">
                <!---***partie profil de poste ***-->
               
                <li class="sidebar-item" routerLink="/listingprofilposte">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link" aria-expanded="false"><i
                            class="fas fa-ellipsis-h"></i><span class="hide-menu">Profil de poste </span></a>
                 <!--   <ul aria-expanded="false" class="collapse first-level">

                        <li class="sidebar-item">

                            <a class="sidebar-link has-arrow waves-effect waves-dark" aria-expanded="false">
                                <i class="fas fa-laptop"></i><span class="hide-menu"
                                    *ngFor="let obj of poste">{{obj.label}} </span></a>

                            <ul aria-expanded="false" class="collapse first-level">
                                <li class="sidebar-item" *ngFor="let obj of Categories">
                                    <a class="sidebar-link"><i class=" fas fa-arrow-alt-circle-right"></i><span
                                            class="hide-menu" routerLink="Detail-profile/{{obj.id}}">
                                            {{obj.label}}</span></a>
                                </li>
                            </ul>
                        </li>
                    </ul>-->
                </li>
                <!--**terminer partie profil de poste **-->
                <hr class="sidebar-divider my-0">

                <li class="sidebar-item">
                    <a class="sidebar-link has-arrow waves-effect waves-dark" aria-expanded="false"><i
                            class="fas fa-ellipsis-h"></i><span class="hide-menu">Personnel </span></a>
                    <ul aria-expanded="false" class="collapse first-level">
                        <!--/////partie fiche de rensignement dan un commentaire -->

                         <li class="sidebar-item">
                            <a routerLink="/liste-fiche-rensignement" class="sidebar-link"><i
                                    class=" fas fa-file-alt"></i><span class="hide-menu">Fiche de
                                    rensignement</span></a>
                        </li>
                        <!---partie fiche de rensignement + test technique-->
                        <li class="sidebar-item">
                            <a class="sidebar-link has-arrow waves-effect waves-dark" aria-expanded="false"><i
                                    class="fas fa-ellipsis-h"></i><span class="hide-menu">Fiche
                                    d'évaluation </span></a>
                            <ul aria-expanded="false" class="collapse first-level">
                                <li class="sidebar-item">
                                    <a routerLink="/fiche/liste-fiche-devalu" class="sidebar-link"><i
                                            class=" fas fa-file-alt" ></i><span class="hide-menu"> Fiche
                                            d'évaluation psychotechnique </span></a>
                                </li>

                                <li class="sidebar-item" routerLink="/listingtest">
                                    <a class="sidebar-link waves-effect waves-dark sidebar-link" aria-expanded="false"><i
                                            class=" fas fa-ellipsis-h"></i><span class="hide-menu"> Tests
                                            Techniques</span></a>

                                    <!--<ul aria-expanded="false" class="collapse first-level">
                                        <li class="sidebar-item">
                                            <a class="sidebar-link has-arrow waves-effect waves-dark"
                                                aria-expanded="false">
                                                <i class="fas fa-spinner"></i><span *ngFor="let obj of poste"
                                                    class="hide-menu">{{obj.label}} </span>
                                            </a>
                                            <ul aria-expanded="false" class="collapse first-level">
                                                <li class="sidebar-item" *ngFor="let obj of Testtechniques">
                                                    <a class="sidebar-link" routerLink="detail-test/{{obj.id}}"><i
                                                            class=" far fa-question-circle"></i><span class="hide-menu">
                                                            {{obj.label}}</span></a>
                                                </li>
                                            </ul>

                                        </li>

                                    </ul>-->
                                </li>
                            </ul>
                            <!--terminer partie fiche d'evaluation + test technique -->

                        </li>



                <li class="sidebar-item">
                    <a routerLink="/liste-matrice" class="sidebar-link"><i
                            class=" fas fa-tachometer-alt"></i><span class="hide-menu"> Matrice des
                            compétence</span></a>
                </li>

                    </ul>
                    <!--  <hr class="sidebar-divider my-0">-->
<!--*** partie formationet développement *** -->
<hr class="sidebar-divider my-0">

<li class="sidebar-item">
    <a class="sidebar-link has-arrow waves-effect waves-dark" aria-expanded="false"><i
            class="fas fa-ellipsis-h"></i><span class="hide-menu">Formation et
            développement </span></a>
    <ul aria-expanded="false" class="collapse first-level">
        <li class="sidebar-item">
            <a routerLink="/listingforma" class="sidebar-link">
                <i class="fas fa-certificate"></i>
                <span class="hide-menu"> Formation
                    externe </span></a>
        </li>
        <li class="sidebar-item">
            <a routerLink="/formainternelisting" class="sidebar-link"><i class="fas fa-certificate"></i>
                <span class="hide-menu"> Formation
                    interne</span></a>
        </li>
    </ul>
</li>
<!--**terminer partie formation et développement-->


                <hr class="sidebar-divider my-0">

                <li class="sidebar-item ">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link" routerLink="/dashboard"
                        aria-expanded="false"><i class=" fas fa-chart-bar"></i><span
                            class="hide-menu">Reporting</span></a>
                </li>
                <!--***terminer partie personnel**** -->
                </ul>
                </nav>
                </div>
                </aside>
