<nav class="navbar navbar-expand-lg navbar-light ">
    <div class="container-fluid">


        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <img class="m-2" src="assets/img/djagora1.png " height="50" width="150">


        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mx-auto">
                <li class="mt-2">

                    <p>Formulaire</p>
                </li>

            </ul>
        </div>
        <a><img class="navbar-brand" href="#" src="assets/img/profile.png" height="50" width="50"></a>
    </div>
</nav>







<div class="border border-primary row ">

    <div class="col-7 text-end">
        <h1> Profil de Poste</h1>
    </div>
    <div class="col text-end mt-2 ">
        <p>
            Code:PR07F01<br>
            Version:00
        </p>
    </div>
</div>





<body>
    <div class="container">
        <div class="row">
            <div class="text-start mt-2">
                <label type="label"> maj</label>
            </div>
            <div class="text-center">
                <label type="label">Du: date</label>
            </div>
        </div>

        <label class="m-2" type="label"> Fonction: </label>
        <br>
        <label class="m-2" type="label">Supérieur hiérarchique: </label>
        <br>
        <label class="m-2" type="label">Supervision: </label>
        <br>
        <label class="m-2" type="label">Intérim: </label>

        <div class="shadow p-3 mb-5 bg-body rounded">
            <div class="text-center">
                <h4>Profil du poste</h4>
                <label class="m-2" type="label"> compe </label>
            </div>
            <label class="m-2" type="label"> les compe mel basa </label>

            <div class="text-center">
                <label class="m-2" type="label">COMPÉTENCES ORGANISATIONNELLES mel table</label><br>
                <label class="m-2" type="label"> GESTION DE TEMPS & PRIORITÉS mel table</label>
            </div>
            <label class="m-2" type="label"> Niveau visé : </label>
            <label class="m-2" type="label"> Indicateurs de suivi : <br> </label>
            <div class="text-center">
                <label class="m-2" type="label"> COMPÉTENCES COMPORTEMENTALES </label>
            </div>
            <label class="m-2" type="label"> geek mel basa </label>
            <div class="text-center">
                <label class="m-2" type="label">COMMUNICATION INTERACTIVE EFFICACE </label>
            </div>
            
        <label class="m-2" type="label"> Niveau visé : </label>
        <label class="m-2" type="label"> Indicateurs de suivi : <br> </label>

        <div class="text-center">
            <label class="m-2" type="label">TRAVAIL EN ÉQUIPE & COLLABORATION </label>
        </div>
        <label class="m-2" type="label"> Niveau visé : </label>
        <label class="m-2" type="label"> Indicateurs de suivi : <br> </label>

        <div class="text-center">
            <label class="m-2" type="label">RÉSOLUTION DE PROBLÈMES</label>
        </div>
        <label class="m-2" type="label"> Niveau visé : </label>
        <label class="m-2" type="label"> Indicateurs de suivi : <br> </label>
        <div class="text-center">
            <label class="m-2" type="label">SERVICES D’EXCELLENCE </label>
        </div>

        <label class="m-2" type="label"> Niveau visé : </label>
        <label class="m-2" type="label"> Indicateurs de suivi : <br> </label>
    </div>

    <div class="shadow p-3 mb-5 bg-body rounded">
        <div class="text-center">
            <label class="m-2" type="label">DROITS </label>
        </div>
        <label class="m-2" type="label"> contenu droit </label>

        <div class="text-center">
            <label class="m-2" type="label">DEVOIRS</label>
        </div>
        <label class="m-2" type="label"> contenu devoir </label>


    </div>
    </div>
</body>