<nav class="navbar navbar-expand-lg navbar-light ">
    <div class="container-fluid">


        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <img class="m-2" src="assets/img/djagora1.png " height="50" width="150">


        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mx-auto">
                <li class="mt-2">

                    <p>Formulaire</p>
                </li>

            </ul>
        </div>
        <a><img class="navbar-brand" href="#" src="assets/img/profile.png" height="50" width="50"></a>
    </div>
</nav>







<div class="border border-primary row ">

    <div class="col-7 text-end">
        <h1> Profil de Poste</h1>
    </div>
    <div class="col text-end mt-2 ">
        <p>
            Code:PR07F01<br>
            Version:00
        </p>
    </div>
</div>





<body>
    <div class="container">
        <div class=" mt-2 mb-2 end-50" >
            <button type="button" class="btn btn-primary " ><i class="far fa-add"></i>Edit</button>
           </div>
        <div class="dj1" *ngFor="let tetejunior of Idproposte">
            <div class="row">
                <div class="text-start mt-2">
                    <label type="label"> {{tetejunior.majn}}</label>
                </div>
                <div class="text-center">
                    <label type="label">Du: {{tetejunior.du}}</label>
                </div>
            </div>

            <label class="m-2" type="label"> Fonction: {{tetejunior.Fonction}} </label>
            <br>
            <label class="m-2" type="label"> Catégorie: {{tetejunior.Categorie}} </label>
            <br>
            <label class="m-2" type="label">Supérieur hiérarchique: {{tetejunior.Suphier}} </label>
            <br>
            <label class="m-2" type="label">Supervision: {{tetejunior.Super}} </label>
            <br>
            <label class="m-2" type="label">Intérim: {{tetejunior.Interim}}</label>
        </div>
        <div class="dj2" *ngFor="let profilp of Profilposte">

            <div class="shadow p-3 mb-5 bg-body rounded">
                <div class="text-center">
                    <h4>Profil du poste</h4>
                    <label class="m-2" type="label"> {{profilp.comptech}} </label>
                </div>
                <label class="m-2" type="label"> {{profilp.contenucomptech}} </label>

                <div class="text-center">
                    <label class="m-2" type="label">{{profilp.comporgan}}</label><br>
                    <label class="m-2" type="label"> {{profilp.gestemps}}</label>
                </div>
                <label class="m-2" type="label"> Niveau visé : {{profilp.nvisegestemp}} </label>
                <label class="m-2" type="label"> Indicateurs de suivi : <br>{{profilp.isuivigestemp}} </label>
                <div class="text-center">
                    <label class="m-2" type="label"> {{profilp.compcompor}}</label>
                </div>
                <label class="m-2" type="label">{{profilp.geek}} </label>

                <label class="m-2" type="label">{{profilp.autod}} </label>
                <label class="m-2" type="label">{{profilp.positivite}} </label>
                <div class="text-center">
                    <label class="m-2" type="label"> {{profilp.commintera}}</label>
                </div>

                <label class="m-2" type="label"> Niveau visé : {{profilp.nvisecommintera}}</label>
                <label class="m-2" type="label"> Indicateurs de suivi : <br> {{profilp.isuivicommintera}}</label>

                <div class="text-center">
                    <label class="m-2" type="label">{{profilp.tracoll}}</label>
                </div>
                <label class="m-2" type="label"> Niveau visé : {{profilp.nvisetracoll}} </label>
                <label class="m-2" type="label"> Indicateurs de suivi : <br> {{profilp.isuivitracoll}}</label>

                <div class="text-center">
                    <label class="m-2" type="label">{{profilp.resprob}}</label>
                </div>
                <label class="m-2" type="label"> Niveau visé : {{profilp.nviseresprob}}</label>
                <label class="m-2" type="label"> Indicateurs de suivi : <br>{{profilp.isuiviresprob}} </label>
                <div class="text-center">
                    <label class="m-2" type="label">{{profilp.servexcell}}</label>
                </div>

                <label class="m-2" type="label"> Niveau visé : {{profilp.nviseservexcell}}</label>
                <label class="m-2" type="label"> Indicateurs de suivi : <br>{{profilp.isuiviservexcell}} </label>
            </div>

            <div class="shadow p-3 mb-5 bg-body rounded">
                <div class="text-center">
                    <label class="m-2" type="label">{{profilp.droit}} </label>
                </div>
                <label class="m-2" type="label"> {{profilp.contenudroit}} </label>

                <div class="text-center">
                    <label class="m-2" type="label">{{profilp.devoir}}</label>
                </div>
                <label class="m-2" type="label"> {{profilp.contenudevoir}} </label>

                <div class="text-center">
                    <label class="m-2" type="label">{{profilp.validation}} </label>
                </div>
                <label class="m-2" type="label">  {{profilp.contenuvalid}}</label>

                <div class=" table-responsive ">
                    <table class="  table table-bordered ">
                        <thead>
                            <tr class="text-bold">
                                <th scope="col"></th>
                                <th scope="col">Élaboration</th>
                                <th scope="col">Vérification</th>
                                <th scope="col">Approbation</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td class="text-bold">Fonction</td>
                                <td class="text-bold">{{profilp.fonction}}</td>
                                <td class="text-bold">{{profilp.fonction1}}</td>
                                <td class="text-bold">{{profilp.fonction2}}</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td class="text-bold">Nom et Prénom</td>
                                <td class="text-bold">{{profilp.nompre}}</td>
                                <td class="text-bold">{{profilp.nompre1}}</td>
                                <td class="text-bold">{{profilp.nompre2}}</td>

                            </tr>
                            
                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </div>
</body>