<nav class="navbar navbar-expand-lg navbar-light ">
    <div class="container-fluid">


        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <img class="m-2" src="assets/img/djagora1.png " height="50" width="150">


        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mx-auto">
                <li class="mt-2">

                    <p>Formulaire</p>
                </li>

            </ul>
        </div>
        <a><img class="navbar-brand" href="#" src="assets/img/profile.png" height="50" width="50"></a>
    </div>
</nav>







<div class="border border-primary row ">

    <div class="col-7 text-end">
        <h1> Profil de Poste</h1>
    </div>
    <div class="col text-end mt-2 ">
        <p>
            Code:PR07F01<br>
            Version:00
        </p>
    </div>
</div>





<body>
    <div class="container">
        <div class="dj1" *ngFor="let tetejunior of Idproposte">
            <div class="row">
                <div class="text-start mt-2">
                    <label type="label" required="required" formControlName="majn"
                    [(ngModel)]="Idproposte.majn"> {{tetejunior.majn}}</label>
                </div>
                <div class="text-center">
                    <label type="label" required="required" formControlName="du"
                    [(ngModel)]="Idproposte.du">Du: {{tetejunior.du}}</label>
                </div>
            </div>

            <label class="m-2" type="label" required="required" formControlName="Fonction"
            [(ngModel)]="Idproposte.Fonction"> Fonction: {{tetejunior.Fonction}} </label>
            <br>
            <label class="m-2" type="label" required="required" formControlName="Categorie"
            [(ngModel)]="Idproposte.Categorie"> Catégorie: {{tetejunior.Categorie}} </label>
            <br>
            <label class="m-2" type="label" required="required" formControlName="Suphier"
            [(ngModel)]="Idproposte.Suphier">Supérieur hiérarchique: {{tetejunior.Suphier}} </label>
            <br>
            <label class="m-2" type="label" required="required" formControlName="Super"
            [(ngModel)]="Idproposte.Super">Supervision: {{tetejunior.Super}} </label>
            <br>
            <label class="m-2" type="label" required="required" formControlName="Interim"
            [(ngModel)]="Idproposte.Interim">Intérim: {{tetejunior.Interim}}</label>
        </div>
        <div class="dj2" *ngFor="let profilp of Profilposte">

            <div class="shadow p-3 mb-5 bg-body rounded">
                <div class="text-center">
                    <h4>Profil du poste</h4>
                    <label class="m-2" type="label" required="required" formControlName="comptech"
                    [(ngModel)]="Profilposte.comptech"> {{profilp.comptech}} </label>
                </div>
                <label class="m-2" type="label" required="required" formControlName="contenucomptech"
                [(ngModel)]="Profilposte.contenucomptech"> {{profilp.contenucomptech}} </label>

                <div class="text-center">
                    <label class="m-2" type="label" required="required" formControlName="comporgan"
                    [(ngModel)]="Profilposte.comporgan">{{profilp.comporgan}}</label><br>
                    <label class="m-2" type="label" required="required" formControlName="gestemps"
                    [(ngModel)]="Profilposte.gestemps"> {{profilp.gestemps}}</label>
                </div>
                <label class="m-2" type="label" required="required" formControlName="nvisegestemp"
                [(ngModel)]="Profilposte.nvisegestemp"> Niveau visé : {{profilp.nvisegestemp}} </label>

                <label class="m-2" type="label" required="required" formControlName="isuivigestemp"
                [(ngModel)]="Profilposte.isuivigestemp"> Indicateurs de suivi : <br>{{profilp.isuivigestemp}} </label>
                <div class="text-center">
                    <label class="m-2" type="label" required="required" formControlName="compcompor"
                    [(ngModel)]="Profilposte.compcompor"> {{profilp.compcompor}}</label>
                </div>
                <label class="m-2" type="label" required="required" formControlName="geek"
                [(ngModel)]="Profilposte.geek">{{profilp.geek}} </label>

                <label class="m-2" type="label" required="required" formControlName="autod"
                [(ngModel)]="Profilposte.autod">{{profilp.autod}} </label>
                <label class="m-2" type="label" required="required" formControlName="positivite"
                [(ngModel)]="Profilposte.positivite">{{profilp.positivite}} </label>
                <div class="text-center">
                    <label class="m-2" type="label" required="required" formControlName="commintera"
                    [(ngModel)]="Profilposte.commintera"> {{profilp.commintera}}</label>
                </div>

                <label class="m-2" type="label" required="required" formControlName="nvisecommintera"
                [(ngModel)]="Profilposte.nvisecommintera"> Niveau visé : {{profilp.nvisecommintera}}</label>
                <label class="m-2" type="label" required="required" formControlName="isuivicommintera"
                [(ngModel)]="Profilposte.isuivicommintera"> Indicateurs de suivi : <br> {{profilp.isuivicommintera}}</label>

                <div class="text-center">
                    <label class="m-2" type="label" required="required" formControlName="tracoll"
                    [(ngModel)]="Profilposte.tracoll">{{profilp.tracoll}}</label>
                </div>
                <label class="m-2" type="label" required="required" formControlName="nvisetracoll"
                [(ngModel)]="Profilposte.nvisetracoll"> Niveau visé : {{profilp.nvisetracoll}} </label>
                <label class="m-2" type="label" required="required" formControlName="isuivitracoll"
                [(ngModel)]="Profilposte.isuivitracoll"> Indicateurs de suivi : <br> {{profilp.isuivitracoll}}</label>

                <div class="text-center">
                    <label class="m-2" type="label" required="required" formControlName="resprob"
                    [(ngModel)]="Profilposte.resprob">{{profilp.resprob}}</label>
                </div>
                <label class="m-2" type="label" required="required" formControlName="nviseresprob"
                [(ngModel)]="Profilposte.nviseresprob"> Niveau visé : {{profilp.nviseresprob}}</label>
                <label class="m-2" type="label" required="required" formControlName="isuiviresprob"
                [(ngModel)]="Profilposte.isuiviresprob"> Indicateurs de suivi : <br>{{profilp.isuiviresprob}} </label>
                <div class="text-center">
                    <label class="m-2" type="label" required="required" formControlName="servexcell"
                    [(ngModel)]="Profilposte.servexcell">{{profilp.servexcell}}</label>
                </div>

                <label class="m-2" type="label" required="required" formControlName="nviseservexcell"
                [(ngModel)]="Profilposte.nviseservexcell"> Niveau visé : {{profilp.nviseservexcell}}</label>
                <label class="m-2" type="label" required="required" formControlName="isuiviservexcell"
                [(ngModel)]="Profilposte.isuiviservexcell"> Indicateurs de suivi : <br>{{profilp.isuiviservexcell}} </label>
            </div>

            <div class="shadow p-3 mb-5 bg-body rounded">
                <div class="text-center">
                    <label class="m-2" type="label" required="required" formControlName="droit"
                    [(ngModel)]="Profilposte.droit">{{profilp.droit}} </label>
                </div>
                <label class="m-2" type="label" required="required" formControlName="contenudroit"
                [(ngModel)]="Profilposte.contenudroit"> {{profilp.contenudroit}} </label>

                <div class="text-center">
                    <label class="m-2" type="label" required="required" formControlName="devoir"
                    [(ngModel)]="Profilposte.devoir">{{profilp.devoir}}</label>
                </div>
                <label class="m-2" type="label" required="required" formControlName="contenudevoir"
                [(ngModel)]="Profilposte.contenudevoir"> {{profilp.contenudevoir}} </label>

                <div class="text-center">
                    <label class="m-2" type="label" required="required" formControlName="validation"
                    [(ngModel)]="Profilposte.validation">{{profilp.validation}} </label>
                </div>
                <label class="m-2" type="label" required="required" formControlName="contenuvalid"
                [(ngModel)]="Profilposte.contenuvalid"> {{profilp.contenuvalid}}  </label>

                <div class=" table-responsive ">
                    <table class="  table table-bordered ">
                        <thead>
                            <tr class="text-bold">
                                <th scope="col" ></th>
                                <th scope="col">Élaboration</th>
                                <th scope="col" >Vérification</th>
                                <th scope="col" >Approbation</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td class="text-bold">Fonction</td>
                                <td class="text-bold" required="required" formControlName="fonction"
                                [(ngModel)]="Profilposte.fonction">{{profilp.fonction}}</td>
                                <td class="text-bold" required="required" formControlName="fonction1"
                                [(ngModel)]="Profilposte.fonction1">{{profilp.fonction1}}</td>
                                <td class="text-bold" required="required" formControlName="fonction2"
                                [(ngModel)]="Profilposte.fonction2">{{profilp.fonction2}}</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td class="text-bold">Nom et Prénom</td>
                                <td class="text-bold" required="required" formControlName="nompre"
                                [(ngModel)]="Profilposte.nompre">{{profilp.nompre}}</td>
                                <td class="text-bold" required="required" formControlName="nompre1"
                                [(ngModel)]="Profilposte.nompre1">{{profilp.nompre1}}</td>
                                <td class="text-bold" required="required" formControlName="nompre2"
                                [(ngModel)]="Profilposte.nompre2">{{profilp.nompre2}}</td>

                            </tr>
                            
                        </tbody>

                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-12">

            <button class="btn btn-primary m-5" type="submit"
                (click)="getallProfilP()"  (click)="editdetailFormulair()" >Edit</button>

        </div>
    </div>
</body>
