<div class="container mt-5">

    <button type="button" class="btn btn-primary " routerLink="/listingforma"><i
            class="  fas fa-arrow-alt-circle-left"></i> REV</button>
    <div class="row">
        <div class="card">
            <div class="card-body">
                <div class="row header " style="text-align:center">
                    <h3>Les couts des formations externes</h3>
                </div>
                <div class="mb-2 end-50 ">
                    <button type="button" class="btn btn-primary " routerLink="/addcout/"><i
                            class=" fas fa-plus-circle"></i>
                        Ajouter</button>
                </div>
                <div class=" table-responsive ">
                    <table class="  table table-bordered ">
                        <thead>
                            <tr>

                                <th scope="col" style="color:black;"><h5>Coût formateur / heure en DT</h5></th>
                                <th scope="col" style="color:black;"><h5>Total coût formateur en DT</h5></th>
                                <th scope="col" style="color:black;"><h5>Location espace</h5></th>
                                <th scope="col" style="color:black;"><h5>Coût max (Salé + Sucré)</h5></th>
                                <th scope="col" style="color:black;"><h5>Total coût</h5></th>
                                <th scope="col" style="color:black;"><h5>Charge Total</h5></th>
                                <th scope="col" style="color:black;"><h5>Action</h5></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let coutformaex of Coutformaexternes">

                                <td>{{coutformaex.coutformahd}}</td>
                                <td>{{coutformaex.tocoformadt}}</td>
                                <td>{{coutformaex.locaespace}}</td>
                                <td>{{coutformaex.comax}}</td>
                                <td>{{coutformaex.tocout}}</td>
                                <td>{{coutformaex.chargeto}}</td>
                                <td>
                                    <button type="button" class="btn btn-success"
                                        routerLink="/editcout/{{coutformaex.id}}"><i
                                            class="far fa-edit">Modifier</i></button>
                                    <button type="button" class="btn btn-danger mt-2"><i class="far fa-trash-alt"
                                            (click)="deletecout(coutformaex.id)">Supprimer</i></button>
                                </td>
                            </tr>


                        </tbody>

                    </table>


                </div>
            </div>
        </div>
    </div>
</div>