<div class="container ">

    <div class="shadow-lg p-3 mb-5 bg-body rounded mt-5">

       
        <h3 class="text-center mt-5"> La liste des fiches d'evaluations psychotechnique</h3>
        <div class="mb-2 end-50 ">
            <button type="button" class="btn btn-primary " routerLink="/add-fiche-devalu"><i
                    class=" fas fa-plus-circle"></i>
                Ajouter</button>
        </div>
        <div class=" table-responsive ">
           
            <table class="table table-bordered " >
                <thead>
                    <tr class="text-bold">
                        <th>Nom & Prenom </th>
                    </tr>
                </thead>
                <tbody *ngFor="let p of Employes" >
                    
                    <tr>
                        <td>{{p.nomprenom}}</td>
                        <td>
                            <!-- (click)="deletefichedevalu(id)"-->
                            <button type="button" class="btn btn-info" [routerLink]='["/detail-fiche-devalu",p.id]'><i
                                class="far fa-hand-pointer">
                               Afficher</i>
                               </button>
                            <button type="button" class="btn btn-danger" (click)="deletenom(p.id)">
                                <i class="far fa-trash-alt">
                                    Supprimer</i>
                              </button>
                        </td>

                    </tr>

                </tbody>

            </table>
        </div>

    </div>
</div>