<header>
    <div class="position-relative">
        <div class="position-relative  ">
            <button class="btn text-primary" type="button" routerLink="/coutlisting">Cout Des Formation</button>
        </div>
        <div class="position-absolute top-0 start-50 translate-middle-x  ">
            <button class="btn text-primary" type="button" routerLink="/formainternelisting">Formation Interne</button>
        </div>
        <div class="position-absolute top-0 end-0">
            <button class="btn btn-primary " type="button" routerLink="/">Déconnecter</button>
        </div>
    </div>
</header>


<div class="container mt-5">
    <div class="row header " style="text-align:center">
        <h3>Table formation externe</h3>
    </div>
    <div class=" mb-2 end-50  ">
        <button type="button" class="btn btn-primary " routerLink="/addforma/"><i class="far fa-add"></i>Add</button>
    </div>
    <div class=" table-responsive ">
        <table class="  table table-bordered ">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Type de compétence</th>
                    <th scope="col">Thème de formation</th>
                    <th scope="col">Participant</th>
                    <th scope="col">Nomber de participants</th>
                    <th scope="col">Raison de formation</th>
                    <th scope="col">Organisme de formation</th>
                    <th scope="col">Formalité de réalisation</th>
                    <th scope="col">Formateur</th>
                    <th scope="col">Raison de choix</th>
                    <th scope="col">Durée de formation</th>
                    <th scope="col">NB/jour</th>
                    <th scope="col">NB/H de jour</th>
                    <th scope="col">Date</th>
                    <th scope="col">Horaire formation</th>
                    <th scope="col">Pause café</th>
                    <th scope="col">Lieu de formation</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let formationex of formaexternes">
                    <td>{{formationex._id}}</td>
                    <td>{{formationex.typecomp}}</td>
                    <td>{{formationex.themforma}}</td>
                    <td>{{formationex.participant}}</td>
                    <td>{{formationex.nbparticipant}}</td>
                    <td>{{formationex.raisonforma}}</td>
                    <td>{{formationex.organismeforma}}</td>
                    <td>{{formationex.formalite}}</td>
                    <td>{{formationex.formateur}}</td>
                    <td>{{formationex.raisonchoix}}</td>
                    <td>{{formationex.dureeforma}}</td>
                    <td>{{formationex.nbjour}}</td>
                    <td>{{formationex.nbhjour}}</td>
                    <td>{{formationex.date}}</td>
                    <td>{{formationex.horaireforma}}</td>
                    <td>{{formationex.pause}}</td>
                    <td>{{formationex.lieuforma}}</td>
                    <td>
                        <button type="button" class="btn btn-success" routerLink="/editforma/{{formationex.id}}"><i
                                class="fas fa-edit">Edit</i></button>

                    </td>
                </tr>


            </tbody>

        </table>


    </div>
</div>