body {
    font-family: 'Lato', sans-serif;
}
input{
    border: 1px solid rgb(230 219 219);
    border-radius: 5px;

}

select{
    border: 1px solid rgb(230 219 219);
    border-radius: 5px;

 
}

label {
    color: #333;
}

.btn-send {
    font-weight: 30;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    width: 30%;
    margin-left: 3px;
    }
.help-block.with-errors {
    color: #ff5050;
    margin-top: 5px;

}


