<div class="container">



    <div class="row ">
        <div class="col-lg-9 mx-auto">
            <div class="card mt-2 mx-auto p-2 bg-light">
                <div class="card-body bg-light">

                    <div class="container">
                        <form id="contact-form" role="form" [formGroup]="FormGenerator">



                            <div class="controls">
                                <h3 class="text-center mb-5">Créer un profil de poste</h3>
                                <div class="row">

                                    <div class="shadow p-3 mb-5 bg-body rounded">

                                        <div class="row">

                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="form_name">Nom du profil de poste</label>
                                                    <input type="text" formControlName="nom" class="form-control"
                                                        placeholder="Nom du profil de poste" required="required">
                                                </div>
                                            </div>

                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Fonction</label>
                                                    <input type="text" class="form-control" required="required"
                                                        formControlName="fonction">
                                                </div>

                                            </div>





                                            <div class="col-md-6">
                                                <label for="staticZone">Catégorie</label>
                                                <select class="form-control" id="exampleFormControlSelect2"
                                                    placeholder="Veuillez choisir votre competence"
                                                    formControlName="categorie_id">
                                                    <option selected disabled value="">Affecter Catégorie</option>

                                                    <option *ngFor="let obj of Categories" [ngValue]="obj.id">

                                                        {{obj.label}}
                                                    </option>
                                                </select>
                                            </div>

                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Supérieur hiérarchique</label>
                                                    <input type="text" class="form-control" required="required"
                                                        formControlName="superhierar">
                                                </div>

                                            </div>

                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Supervision</label>
                                                    <input type="text" class="form-control" required="required"
                                                        formControlName="supervision">
                                                </div>

                                            </div>


                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Intérim</label>
                                                    <input type="text" class="form-control" required="required"
                                                        formControlName="interim">
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <!-- Form dynamique for Competence-->
                                    <button (click)="addInput()" type="button" class="btn btn-success mb-3"><i
                                            class="bi bi-plus-square"></i> Ajouter un autre formulaire</button>

                                    <div class="shadow p-3 mb-5 bg-body rounded">
                                        <div class="item-box" formArrayName="Formcompetence"
                                            *ngFor="let indicateur of FormcompetenceData.controls; let i = index">
                                            <div [formGroupName]="i">
                                                <button class="btn btn-danger" (click)="removedCompetence(i)"><i
                                                    class="bi bi-trash"></i></button>
                                                <div class="d-flex">
                                                    <h1>Competence: {{i+1}}</h1>
                                                    <div class="row">

                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label for="staticZone">Competence</label>
                                                                <select class="form-control"
                                                                    id="exampleFormControlSelect2"
                                                                    placeholder="Veuillez choisir votre competence"
                                                                    formControlName="competence_id">
                                                                    <option selected disabled value="">Affecter
                                                                        Competence</option>

                                                                    <option *ngFor="let obj of Competences"
                                                                        [ngValue]="obj.id">

                                                                        {{obj.label}}
                                                                    </option>
                                                                </select>

                                                            </div>

                                                        </div>
                                                             <!-- Form dynamique for indicateur-->
                                                             <button (click)="addOptions(i)" type="button" class="btn btn-success mb-3"><i
                                                              class="bi bi-plus-square"></i> Ajouter un indicateur</button>
                                                          <div class="item-box" formArrayName="indicateur"
                                                              *ngFor="let item of indicateur.get('indicateur').controls; let j = index">
                                                              <div [formGroupName]="j">
                                                                  <div class="d-flex">
                                                                      <h1>indicateur: {{j+1}}</h1>
                                                                      <div class="col-md-12">
                                                                          <div class="form-group">
                                                                              <label>indicateur</label>
                                                                              <input type="text" class="form-control"
                                                                                 
                                                                                  formControlName="label">
                                                                          </div>

                                                                      </div>
                                                                  </div>
                                                                  <button class="btn btn-danger" (click)="removeOptions(i,j)"><i
                                                                      class="bi bi-trash"></i></button>
                                                              </div>

                                                          </div>
                                                        <!-- Form dynamique for souscompetence-->
                                                        <button (click)="addInputSoucomp(i)" type="button" class="btn btn-success mb-3"><i
                                                            class="bi bi-plus-square"></i> Ajouter un Souscompetence</button>
                                                            <div formArrayName="Souscompetence">
                                                              <div *ngFor="let souscomp of indicateur.get('Souscompetence').controls; let j = index" [formGroupName]="j">
                                                                <hr>
                                                                <h4>Sous-compétence {{j+1}}</h4>
                                                                <div>
                                                                  <label>Nom de la sous-compétence :</label>
                                                                  <input type="text" formControlName="label" required>
                                                                </div>
                                                                <div formArrayName="indicateurSoucomp">
                                                                  <div *ngFor="let indicateurSoucomp of souscomp.get('indicateurSoucomp').controls; let k = index" [formGroupName]="k">
                                                                    <div>
                                                                      <label>Indicateur de la sous-compétence {{k+1}} :</label>
                                                                      <input type="text" formControlName="label" required>
                                                                    </div>
                                                                  </div>
                                                                </div>
                                                                <button (click)="indicateurSoucomp(i, j)">Ajouter un indicateur</button>
                                                              </div>
                                                            </div>
                                                     <!-- Form dynamique for indicateursouscompetence-->
                                                        <!-- <button (click)="addIndicaSouscomp(i)" type="button" class="btn btn-success mb-3"><i
                                                            class="bi bi-plus-square"></i> Ajouter un indicateursouscompetence</button> -->
                                                        <!-- <div class="item-box" formArrayName="indicateurSoucomp"
                                                            *ngFor="let item of indicateur.get('indicateurSoucomp').controls; let j = index">
                                                            <div [formGroupName]="j">
                                                                <div class="d-flex">
                                                                    <h1>indicateurSoucomp: {{j+1}}</h1>
                                                                    <div class="col-md-12">
                                                                        <div class="form-group">
                                                                            <label>indicateurSoucomp</label>
                                                                            <input type="text" class="form-control"
                                                                                required="required"
                                                                                formControlName="label">
                                                                        </div>

                                                                    </div>
                                                                </div>
                                                                <button class="btn btn-danger"
                                                                    (click)="removeSoucomp(i,j)"><i
                                                                        class="bi bi-trash"></i></button>
                                                            </div>

                                                        </div> -->



                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <label for="staticZone">Niveau Visé</label>
                                                                <select class="form-control"
                                                                    id="exampleFormControlSelect2"
                                                                    placeholder="Veuillez choisir votre Niveau Visé"
                                                                    formControlName="niveauvise_id">
                                                                    <option selected disabled value="">Affecter Niveau
                                                                        Visé</option>

                                                                    <option *ngFor="let obj of Niveauvises"
                                                                        [ngValue]="obj.id">

                                                                        {{obj.label}}
                                                                    </option>
                                                                </select>

                                                            </div>

                                                        </div>



                                                    </div>
                                                </div>

                                            </div>

                                        </div>
                                    </div>



                                    <div class="shadow p-3 mb-5 bg-body rounded">
                                        <div class="row">
                                            <h5 class="text-center">Validation</h5>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Fonction éloboration</label>
                                                    <input type="text" class="form-control" required="required"
                                                        formControlName="fonctionelaboration">
                                                </div>

                                            </div>

                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Nom & Prenom</label>
                                                    <input type="text" class="form-control" required="required"
                                                        formControlName="nomprenomelab">
                                                </div>

                                            </div>

                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Fonction Vérification</label>
                                                    <input type="text" class="form-control" required="required"
                                                        formControlName="fonctionverification">
                                                </div>

                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Nom & Prenom</label>
                                                    <input type="text" class="form-control" required="required"
                                                     formControlName="nomprenomverif">
                                                </div>

                                                    <label>Fonction abrobation</label>
                                                    <input type="text" class="form-control" required="required"
                                                        formControlName="fonctionabrobation">
                                                </div>

                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Nom & Prenom</label>
                                                    <input type="text" class="form-control" required="required"
                                                        formControlName="nomprenomabrob">
                                                </div>

                                            </div>




                                        </div>
                                    </div>

                                    <div class="d-flex flex-row justify-content-between">
                                        <div class="mt-2 mb-2 end-50">

                                            <button class="btn btn-primary m-2" (click)="addprofilposte()"
                                                type="submit">Ajouter</button>

                                        </div>

                                    </div>
                                </div>


                        </form>
                    </div>
                </div>


            </div>
            <!-- /.8 -->

        </div>
        <!-- /.row-->

    </div>
</div>
