<div class="container">



    <div class="row ">
        <div class="col-lg-9 mx-auto">
            <div class="card mt-2 mx-auto p-2 bg-light">
                <div class="card-body bg-light">

                    <div class="container">
                        <form id="contact-form" role="form" [formGroup]="profilposteForm">



                            <div class="controls">
                                <h3 class="text-center mb-5">Créer un profil de poste</h3>
                                <div class="row">
                                    
                                    <div class="shadow p-3 mb-5 bg-body rounded">

                                        <div class="row">

                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="form_name">Nom du profil de poste</label>
                                                    <input type="text" formControlName="nom" class="form-control"
                                                        placeholder="Nom du profil de poste" required="required">
                                                </div>
                                            </div>

                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Fonction</label>
                                                    <input type="text" class="form-control" required="required"
                                                        formControlName="fonction">
                                                </div>

                                            </div>





                                            <div class="col-md-6">
                                                <label for="staticZone">Catégorie</label>
                                                <select class="form-control" id="exampleFormControlSelect2"
                                                    placeholder="Veuillez choisir votre Thème de formation"
                                                    formControlName="categorie_id">
                                                    <option selected disabled value="">Affecter Catégorie</option>
        
                                                    <option *ngFor="let obj of Categories" [ngValue]="obj.id">
        
                                                        {{obj.label}}
                                                    </option>
                                                </select>
                                            </div>

                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Supérieur hiérarchique</label>
                                                    <input type="text" class="form-control" required="required"
                                                        formControlName="superhierar">
                                                </div>

                                            </div>

                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Supervision</label>
                                                    <input type="text" class="form-control" required="required"
                                                        formControlName="supervision">
                                                </div>

                                            </div>


                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Intérim</label>
                                                    <input type="text" class="form-control" required="required"
                                                        formControlName="interim">
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="shadow p-3 mb-5 bg-body rounded">
                                        <div class="row">

                                            <div class="col-md-6">
                                                <div class="form-group">

                                                    <input type="text" class="form-control" required="required"
                                                        placeholder="Compétence" formControlName="competence">
                                                </div>

                                            </div>


                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <input type="text" class="form-control" required="required"
                                                        placeholder="SousCompétence" formControlName="souscompetence">
                                                </div>

                                            </div>


                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Niveau Visé</label>
                                                    <input type="text" class="form-control" required="required"
                                                        formControlName="niveauvise">
                                                </div>

                                            </div>


                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Indicateur</label>
                                                    <input type="text" class="form-control" required="required"
                                                        formControlName="indicateursuivi">
                                                </div>

                                            </div>


                                        </div>
                                    </div>


                                    
                                    <div class="shadow p-3 mb-5 bg-body rounded">
                                        <div class="row">
                                            <h5 class="text-center">Validation</h5>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Fonction éloboration</label>
                                                    <input type="text" class="form-control" required="required"formControlName="fonctionelaboration">
                                                </div>

                                            </div>

                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Nom & Prenom</label>
                                                    <input type="text" class="form-control" required="required" formControlName="nomprenomelab">
                                                </div>

                                            </div>

                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Fonction Vérification</label>
                                                    <input type="text" class="form-control" required="required" formControlName="fonctionverification">
                                                </div>

                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Nom & Prenom</label>
                                                    <input type="text" class="form-control" required="required" formControlName="nomprenomverif">
                                                </div>

                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Fonction abrobation</label>
                                                    <input type="text" class="form-control" required="required" formControlName="fonctionabrobation">
                                                </div>

                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Nom & Prenom</label>
                                                    <input type="text" class="form-control" required="required" formControlName="nomprenomabrob">
                                                </div>

                                            </div>




                                        </div>
                                    </div> 

                                    <div class="d-flex flex-row justify-content-between">
                                        <div class="mt-2 mb-2 end-50">

                                            <button class="btn btn-primary m-2" (click)="addprofilposte()"
                                                type="submit">Ajouter</button>

                                        </div>
                                        
                                    </div>
                                </div>

                            </div>
                        </form>
                    </div>
                </div>


            </div>
            <!-- /.8 -->

        </div>
        <!-- /.row-->

    </div>
</div>