<div class="container">



    <div class="row ">
        <div class="col-lg-9 mx-auto">
            <div class="card mt-2 mx-auto p-2 bg-light">
                <div class="card-body bg-light">

                    <div class="container">
                        <form id="contact-form" role="form" [formGroup]="FormGenerator">



                            <div class="controls">
                                <h3 class="text-center mb-5">Créer un profil de poste</h3>
                                <div class="row">

                                    <div class="shadow p-3 mb-5 bg-body rounded">

                                        <div class="row">

                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <p style="font-weight: bold;" for="form_name">Nom du profil de poste</p>
                                                    <select class="form-control" id="exampleFormControlSelect2"
                                                    placeholder="Veuillez choisir votre competence"
                                                    formControlName="profilposte_id">
                                                    <option selected disabled value="">Affecter nom profil de poste</option>

                                                    <option *ngFor="let obj of Profilpostes" [ngValue]="obj.id">

                                                        {{obj.nom}}
                                                    </option>
                                                </select>
                                                </div>
                                            </div>

                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <p style="font-weight: bold;">Fonction</p>
                                                    <input type="text" class="form-control" required="required"
                                                        formControlName="fonction" placeholder="EX:Ingénieur Recherche & Développement">
                                                </div>

                                            </div>





                                            <div class="col-md-6">
                                                <p style="font-weight: bold;"for="staticZone">Catégorie</p>
                                                <input type="text" formControlName="label" class="form-control"
                                                placeholder="Developpeur ..." required="required" >
                                               
                                            </div>

                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <p style="font-weight: bold;">Supérieur hiérarchique</p>
                                                    <input type="text" class="form-control "   required="required"
                                                        formControlName="superhierar" placeholder="EX:Gérant">
                                                </div>

                                            </div>

                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <p style="font-weight: bold;">Supervision</p>
                                                    <input type="text" class="form-control" required="required"
                                                        formControlName="supervision" placeholder="EX: Développeur confirmé">
                                                </div>

                                            </div>


                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <p style="font-weight: bold;">Intérim</p>
                                                    <input type="text" class="form-control" required="required"
                                                        formControlName="interim" placeholder="EX:Développeur confirmé">
                                                </div>
                                            </div>

                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <p style="font-weight: bold;">Niveau visé</p>
                                                    <input type="text" class="form-control" required="required"
                                                        formControlName="niveauvise" placeholder="EX:Actif ">
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <!-- Form dynamique for Competence-->
                                    <div class="mt-2 mb-2 end-50 ">
                                        <button (click)="addInput()" type="button" class="btn btn-primary "><i
                                                class=" fas fa-plus-circle"></i>
                                            Ajouter un autre formulaire</button>
                                    </div>


                                    <div class="shadow p-3 mb-5 bg-body rounded">
                                        <div class="item-box" formArrayName="Formcompetence"
                                            *ngFor="let indicateur of FormcompetenceData.controls; let i = index">
                                            <div [formGroupName]="i">
                                                <div class="col-md-12">
                                                    

                                                </div>
                                                <hr>
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <h4>Competence: {{i+1}}</h4>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <button class="btn btn-danger" (click)="removedCompetence(i)"><i
                                                                class="bi bi-trash"></i></button>
                                                    </div>
                                                </div>

                                                <div class="row">

                                                    <div class="col-md-2 mt-2">

                                                        <label for="staticZone">Competence:</label>
                                                    </div>
                                                    <div class="col-md-6 mt-2">
                                                        <select class="form-control" id="exampleFormControlSelect2"
                                                            placeholder="Veuillez choisir votre competence"
                                                            formControlName="competence_id">
                                                            <option selected disabled value="">Affecter
                                                                Competence</option>

                                                            <option *ngFor="let obj of Competences" [ngValue]="obj.id">

                                                                {{obj.label}}
                                                            </option>
                                                        </select>



                                                    </div>
                                                    <hr class="mt-2">

                                                    <!-- Form dynamique for indicateur-->
                                                    <div class="mt-2 mb-2 end-50 ">
                                                        <button (click)="addOptions(i)" type="button"
                                                            class="btn btn-primary "><i class=" fas fa-plus-circle"></i>
                                                            Ajouter un indicateur</button>
                                                    </div>
                                                    <div class="item-box" formArrayName="indicateur"
                                                        *ngFor="let item of indicateur.get('indicateur').controls; let j = index">
                                                        <div [formGroupName]="j">
                                                            <div class="row">
                                                                <div class="col-md-3">

                                                                    <h4>Indicateur: {{j+1}}</h4>
                                                                </div>
                                                                <div class="col-md-2">
                                                                    <button class="btn btn-danger"
                                                                        (click)="removeOptions(i,j)"><i
                                                                            class="bi bi-trash"></i></button>
                                                                </div>
                                                            </div>
                                                            <div class="row">

                                                                <div class="col-md-2 mt-2">

                                                                    <label>Indicateur: </label>
                                                                </div>
                                                                <div class="col-md-6 mt-2">
                                                                    <input type="text" class="form-control"
                                                                        formControlName="label">
                                                                </div>


                                                            </div>

                                                        </div>

                                                    </div>
                                                    <hr class="mt-2">
                                                    <!-- Form dynamique for souscompetence-->
                                                    <div class="mt-2 mb-2 end-50 ">
                                                        <button (click)="addInputSoucomp(i)" type="button"
                                                            class="btn btn-primary "><i class=" fas fa-plus-circle"></i>
                                                            Ajouter un Souscompetence</button>
                                                            
                                                    </div>

                                                    <div class="item-box" formArrayName="Souscompetence">
                                                        <div *ngFor="let souscomp of indicateur.get('Souscompetence').controls; let j = index"
                                                            [formGroupName]="j">
                                                            <div class="row">
                                                            <div class="col-md-3">
                                                            <h4>Sous-compétence {{j+1}}</h4>
                                                            </div>
                                                            <div class="col-md-2">
                                                                <button class="btn btn-danger" style="margin-bottom: 5px;"
                                                                    (click)="removeSoucomp(i,j)"><i
                                                                        class="bi bi-trash"></i></button>
                                                            </div>
                                                        </div>
                                                            <div>
                                                                <label>Nom de la sous-compétence :</label>
                                                                <input type="text" formControlName="label" required>
                                                            </div>
                                                            <div formArrayName="indicateurSoucomp">
                                                                <div *ngFor="let indicateurSoucomp of souscomp.get('indicateurSoucomp').controls; let k = index"
                                                                    [formGroupName]="k">
                                                                    <div class="row">
                                                                    
                                                                    <div  class="col-md-4">
                                                                        <label>Indicateur de la sous-compétence
                                                                            {{k+1}} :</label>
                                                                        <input type="text" formControlName="label"
                                                                            required>
                                                                    </div>
                                                                    <div class="col-md-1">
                                                                        <button class="btn btn-danger"
                                                                            (click)="removeIndicaSouscomp(i,j)"><i
                                                                                class="bi bi-trash"></i></button>
                                                                    </div>
                                                                </div>
                                                                </div>
                                                            </div>
                                                            <div class="d-flex flex-row justify-content-between">
                                                                <div class="mt-2 mb-2 end-50">

                                                                    <button class="btn btn-primary m-2"
                                                                        (click)="indicateurSoucomp(i, j)"
                                                                        type="submit"><i
                                                                            class=" fas fa-plus-circle"></i> Ajouter
                                                                        un indicateur</button>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- Form dynamique for indicateursouscompetence-->
                                                    <!-- <button (click)="addIndicaSouscomp(i)" type="button" class="btn btn-success mb-3"><i
                                                            class="bi bi-plus-square"></i> Ajouter un indicateursouscompetence</button> -->
                                                    <!-- <div class="item-box" formArrayName="indicateurSoucomp"
                                                            *ngFor="let item of indicateur.get('indicateurSoucomp').controls; let j = index">
                                                            <div [formGroupName]="j">
                                                                <div class="d-flex">
                                                                    <h1>indicateurSoucomp: {{j+1}}</h1>
                                                                    <div class="col-md-12">
                                                                        <div class="form-group">
                                                                            <label>indicateurSoucomp</label>
                                                                            <input type="text" class="form-control"
                                                                                required="required"
                                                                                formControlName="label">
                                                                        </div>

                                                                    </div>
                                                                </div>
                                                                <button class="btn btn-danger"
                                                                    (click)="removeSoucomp(i,j)"><i
                                                                        class="bi bi-trash"></i></button>
                                                            </div>

                                                        </div> -->







                                                </div>


                                            </div>

                                        </div>
                                    </div>



                                    <div class="shadow p-3 mb-5 bg-body rounded">
                                        <div class="row">
                                            <h5 class="text-center">Validation</h5>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Fonction éloboration</label>
                                                    <input type="text" class="form-control" required="required"
                                                        formControlName="fonctionelaboration">
                                                </div>

                                            </div>

                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Nom & Prenom</label>
                                                    <input type="text" class="form-control" required="required"
                                                        formControlName="nomprenomelab">
                                                </div>

                                            </div>

                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Fonction Vérification</label>
                                                    <input type="text" class="form-control" required="required"
                                                        formControlName="fonctionverification">
                                                </div>

                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Nom & Prenom</label>
                                                    <input type="text" class="form-control" required="required"
                                                        formControlName="nomprenomverif">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Fonction abrobation</label>
                                                    <input type="text" class="form-control" required="required"
                                                        formControlName="fonctionabrobation">
                                                </div>
                                            </div>


                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Nom & Prenom</label>
                                                    <input type="text" class="form-control" required="required"
                                                        formControlName="nomprenomabrob">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="d-flex flex-row justify-content-between">
                                    <div class="mt-2 mb-2 end-50">

                                        <button class="btn btn-primary m-2" (click)="addprofilposte()" type="submit"><i
                                                class=" fas fa-plus-circle"></i> Ajouter</button>

                                    </div>

                                </div>
                            </div>


                        </form>
                    </div>
                </div>


            </div>
            <!-- /.8 -->

        </div>
        <!-- /.row-->

    </div>
</div>