





<div class="border border-primary row mt-1 ">

    <div class="col-7 text-end mt-2">
        <h1> Profil de Poste</h1>
    </div>
    <div class="col text-end mt-2 ">
        <p>
            Code:PR07F01<br>
            Version:00
        </p>
    </div>
</div>





<body>

    <div class="container">
        <form id="contact-form" role="form" [formGroup]="DevCForm">
            <div class="row">
                <div class="form-group mx-sm-2 mb-2 mt-2">
                    <label type="label">MAJ N°: </label>
                    <input type="text" class="form-control" required="required" formControlName="majndc"
                        [(ngModel)]="Infogenconfimes.majndc">
                </div>
                <div class="form-group mx-sm-2 mb-2 mt-2">
                    <label type="label">Du:</label>
                    <input type="text" class="form-control" required="required" formControlName="dudc"
                        [(ngModel)]="Infogenconfimes.dudc">
                </div>
            </div>
            <div class="form-group mx-sm-2 mb-2 mt-2">
                <label class="m-2" type="label"> Fonction: </label>
                <input type="text" class="form-control" required="required" formControlName="Fonctiondc"
                    [(ngModel)]="Infogenconfimes.Fonctiondc">
            </div>
            <div class="form-group mx-sm-2 mb-2 mt-2">
                <label class="m-2" type="label"> Catégorie: </label>
                <input type="text" class="form-control" required="required" formControlName="categoriedc"
                    [(ngModel)]="Infogenconfimes.categoriedc">
            </div>

            <div class="form-group mx-sm-2 mb-2 mt-2">
                <label class="m-2" type="label">Supérieur hiérarchique:</label>
                <input type="text" class="form-control" required="required" formControlName="Suphierdc"
                    [(ngModel)]="Infogenconfimes.Suphierdc">
            </div>
            <div class="form-group mx-sm-2 mb-2 mt-2">
                <label class="m-2" type="label">Supervision: </label>
                <input type="text" class="form-control" required="required" formControlName="Superdc"
                    [(ngModel)]="Infogenconfimes.Superdc">
            </div>

            <div class="form-group mx-sm-2 mb-2 mt-2">
                <label class="m-2" type="label">Intérim:</label>

                <input type="text" class="form-control" required="required" formControlName="interidc"
                    [(ngModel)]="Infogenconfimes.interidc">
            </div>

        </form>
        <form id="contact-form" role="form" [formGroup]="ProfilPdcForm">

            <div class="shadow p-3 mb-5 bg-body rounded">
                <div class="text-center">
                    <h4>Profil du poste</h4>



                </div>
                <div class="form-group mx-sm-2 mb-2 mt-2">
                    <input type="text" class="form-control" required="required" formControlName="comptechdc"
                        [(ngModel)]="Profilposteconfirmes.comptechdc">

                    <input type="text" class="form-control mt-3" required="required" formControlName="contenucomptechdc"
                        [(ngModel)]="Profilposteconfirmes.contenucomptechdc">

                </div>
                <div class="form-group mx-sm-2 mb-2 mt-3">


                    <input type="text" class="form-control" required="required" formControlName="comporgandc"
                        [(ngModel)]="Profilposteconfirmes.comporgandc">



                    <input type="text" class="form-control mt-3" required="required" formControlName="gestempsdc"
                        [(ngModel)]="Profilposteconfirmes.gestempsdc">

                </div>
                <div class="form-group mx-sm-2 mb-2 mt-2">
                    <label class="m-2" type="label"> Niveau visé : </label>

                    <input type="text" class="form-control" required="required" formControlName="nvisegestempdc"
                        [(ngModel)]="Profilposteconfirmes.nvisegestempdc">
                </div>
                <div class="form-group mx-sm-1 mb-2 mt-2">
                    <label class="m-2" type="label"> Indicateurs de suivi : <br>

                        <input type="text" class="form-control mt-2" required="required"
                            formControlName="isuivigestempdc" [(ngModel)]="Profilposteconfirmes.isuivigestempdc">

                    </label>
                </div>
                <div class="form-group mx-sm-2 mb-2 mt-2">


                    <input type="text" class="form-control" required="required" formControlName="compcompordc"
                        [(ngModel)]="Profilposteconfirmes.compcompordc">




                    <input type="text" class="form-control mt-3" required="required" formControlName="autonomiedc"
                        [(ngModel)]="Profilposteconfirmes.autonomiedc">

                    <input type="text" class="form-control mt-3" required="required" formControlName="comminteradc"
                        [(ngModel)]="Profilposteconfirmes.comminteradc">


                </div>

                <div class="form-group mx-sm-2 mb-2 mt-2">

                    <label class="m-2" type="label"> Niveau visé : </label>

                    <input type="text" class="form-control mt3" required="required" formControlName="nvisecomminteradc"
                        [(ngModel)]="Profilposteconfirmes.nvisecomminteradc">

                </div>

                <div class="form-group mx-sm-2 ">
                    <label class="m-2" type="label"> Indicateurs de suivi : <br>
                    </label>

                    <input type="text" class="form-control mt-2" required="required"
                        formControlName="isuivicomminteradc" [(ngModel)]="Profilposteconfirmes.isuivicomminteradc">

                </div>
                <div class="form-group mx-sm-2 mb-2 mt-2">

                    <input type="text" class="form-control" required="required" formControlName="tracolldc"
                        [(ngModel)]="Profilposteconfirmes.tracolldc">


                    <label class="m-2" type="label"> Niveau visé : </label>

                    <input type="text" class="form-control" required="required" formControlName="nvisetracolldc"
                        [(ngModel)]="Profilposteconfirmes.nvisetracolldc">

                    <label class="m-2" type="label"> Indicateurs de suivi : <br>
                    </label>

                    <input type="text" class="form-control mt-2" required="required" formControlName="isuivitracolldc"
                        [(ngModel)]="Profilposteconfirmes.isuivitracolldc">

                    <input type="text" class="form-control mt-3" required="required" formControlName="resprobdc"
                        [(ngModel)]="Profilposteconfirmes.resprobdc">


                    <label class="m-2" type="label"> Niveau visé :</label>

                    <input type="text" class="form-control" required="required" formControlName="nviseresprobdc"
                        [(ngModel)]="Profilposteconfirmes.nviseresprobdc">

                    <label class="m-2" type="label"> Indicateurs de suivi : <br>
                    </label>

                    <input type="text" class="form-control" required="required" formControlName="isuiviresprobdc"
                        [(ngModel)]="Profilposteconfirmes.isuiviresprobdc">

                    <input type="text" class="form-control mt-3" required="required" formControlName="servexcelldc"
                        [(ngModel)]="Profilposteconfirmes.servexcelldc">



                    <label class="m-2" type="label"> Niveau visé :</label>

                    <input type="text" class="form-control" required="required" formControlName="nviseservexcelldc"
                        [(ngModel)]="Profilposteconfirmes.nviseservexcelldc">

                    <label class="m-2" type="label"> Indicateurs de suivi : <br>
                    </label>




                    <input type="text" class="form-control" required="required" formControlName="raisconcepdc"
                        [(ngModel)]="Profilposteconfirmes.raisconcepdc">



                    <label class="m-2" type="label"> Niveau visé :</label>

                    <input type="text" class="form-control" required="required" formControlName="nviseraisconcepdc"
                        [(ngModel)]="Profilposteconfirmes.nviseraisconcepdc">

                    <label class="m-2" type="label"> Indicateurs de suivi : <br>
                    </label>

                    <input type="text" class="form-control mt2" required="required" formControlName="isuiviraisconcepdc"
                        [(ngModel)]="Profilposteconfirmes.isuiviraisconcepdc">
                </div>
            </div>

            <div class="shadow p-3 mb-5 bg-body rounded">
                <div class="form-group mx-sm-2  ">


                    <input type="text" class="form-control mt-3" required="required" formControlName="droitdc"
                        [(ngModel)]="Profilposteconfirmes.droitdc">




                    <input type="text" class="form-control mt-3 mb-3" required="required" formControlName="contenudroitdc"
                        [(ngModel)]="Profilposteconfirmes.contenudroitdc">




                    <input type="text" class="form-control mt3" required="required" formControlName="devoirdc"
                        [(ngModel)]="Profilposteconfirmes.devoirdc">




                    <input type="text" class="form-control mt-3" required="required" formControlName="contenudevoirdc"
                        [(ngModel)]="Profilposteconfirmes.contenudevoirdc">




                    <input type="text" class="form-control mt-3" required="required" formControlName="validationdc"
                        [(ngModel)]="Profilposteconfirmes.validationdc">




                    <input type="text" class="form-control mt-3" required="required" formControlName="contenuvaliddc"
                        [(ngModel)]="Profilposteconfirmes.contenuvaliddc">

                </div>
                <div class=" table-responsive ">
                    <table class="  table table-bordered ">
                        <thead>
                            <tr class="text-bold">
                                <th scope="col"></th>
                                <th scope="col">Élaboration</th>
                                <th scope="col">Vérification</th>
                                <th scope="col">Approbation</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>

                                <td class="text-bold">Fonction</td>

                                <td class="text-bold"> <input type="text" class="form-control" required="required"
                                        formControlName="fonctiondc" [(ngModel)]="Profilposteconfirmes.fonctiondc"></td>

                                <td class="text-bold"><input type="text" class="form-control" required="required"
                                        formControlName="fonctiondc1" [(ngModel)]="Profilposteconfirmes.fonctiondc1"></td>

                                <td class="text-bold"> <input type="text" class="form-control" required="required"
                                        formControlName="fonctiondc2" [(ngModel)]="Profilposteconfirmes.fonctiondc2"></td>
                            </tr>
                            <tr>

                                <td class="text-bold">Nom et Prénom</td>

                                <td class="text-bold"><input type="text" class="form-control" required="required"
                                        formControlName="nompredc" [(ngModel)]="Profilposteconfirmes.nompredc"></td>

                                <td class="text-bold"><input type="text" class="form-control" required="required"
                                        formControlName="nompredc1" [(ngModel)]="Profilposteconfirmes.nompredc1"></td>

                                <td class="text-bold"><input type="text" class="form-control" required="required"
                                        formControlName="nompredc2" [(ngModel)]="Profilposteconfirmes.nompredc2"></td>

                            </tr>

                        </tbody>

                    </table>
                </div>
            </div>

        </form>
        <div class="col-md-12">

            <button class="btn btn-primary m-5" type="submit" (click)="editdetailFormulair()"
                (click)="editprofil()">Terminer</button>

        </div>
    </div>


</body>