<nav class="navbar navbar-expand-lg navbar-light ">
    <div class="container-fluid">


        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <img class="m-2" src="assets/img/djagora1.png " height="50" width="150">


        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mx-auto">
                <li class="mt-2">

                    <p>Formulaire</p>
                </li>

            </ul>
        </div>
        <a><img class="navbar-brand" href="#" src="assets/img/profile.png" height="50" width="50"></a>
    </div>
</nav>







<div class="border border-primary  ">

    <div class="col  ">
        <h1 class="text-center"> Profil de Poste</h1>
    </div>
    <div class="col ">
        <p class="text-center">
            Code:PR07F01<br>
            Version:00
        </p>

    </div>
</div>





<body>
    <div class="container" *ngFor="let a of Idpropostedc">
        <div class="shadow-lg p-3 mb-5 bg-body rounded">
            <div class=" mt-2 mb-2 end-50">
                <button type="button" class="btn btn-primary " routerLink="/editprofilpdc/{{a.id}}"><i
                        class="far fa-add"></i>Edit</button>
            </div>
            <div class="dj1">
                <div class="row">
                    <div class="text-start mt-2 ">
                        <label type="label"> MAJ N°: {{a.majndc}}</label>
                    </div>
                    <div class="text-center">
                        <label type="label">Du: {{a.dudc}}</label>
                    </div>
                </div>
                <div class="text-bold">
                    <label class="m-2" type="label"> Fonction: {{a.Fonctiondc}} </label>
                    <br>
                    <label class="m-2" type="label"> Catégorie: {{a.categoriedc}} </label>
                    <br>
                    <label class="m-2" type="label">Supérieur hiérarchique: {{a.Suphierdc}} </label>
                    <br>
                    <label class="m-2" type="label">Supervision: {{a.Superdc}} </label>
                    <br>
                    <label class="m-2" type="label">Intérim: {{a.interidc}}</label>
                </div>
            </div>

        </div>
        <div class="dj2" *ngFor="let p of Profilpostedc">

            <div class="shadow-lg p-3 mb-5 bg-body rounded">
                <div class="text-center">
                    <h4>Profil du poste</h4>
                    <h5 class="mt-3 mb-2"> {{p.comptechdc}} </h5>
                </div>
                <label class="m-2" type="label"> {{p.contenucomptechdc}} </label>

                <div class="text-center">
                    <h5 class="mt-3 mb-2">{{p.comporgandc}}</h5>
                    <h6 class="mt-2"> {{p.gestempsdc}}</h6>
                </div>
                <label class="m-2" type="label"> NIVEAU VISE : {{p.nvisegestempdc}} </label>
                <label class="m-2" type="label"> INDICATEURS DE SUIVI : <br>{{p.isuivigestempdc}} </label>
                <div class="text-center">
                    <h5 class="m-2"> {{p.compcompordc}}</h5>
                </div>
                <h6 class="m-2">{{p.autonomiedc}} </h6>

                
                <div class="text-center">
                    <h6 class="m-2"> {{p.comminteradc}}</h6>
                </div>

                <label class="m-2" type="label"> NIVEAU VISE : {{p.nvisecomminteradc}}</label>
                <label class="m-2" type="label"> INDICATEURS DE SUIVI : <br> {{p.isuivicomminteradc}}</label>

                <div class="text-center">
                    <h6 class="m-2">{{p.tracolldc}}</h6>
                </div>
                <label class="m-2" type="label"> NIVEAU VISE : {{p.nvisetracolldc}} </label>
                <label class="m-2" type="label">INDICATEURS DE SUIVI : <br> {{p.isuivitracolldc}}</label>

                <div class="text-center">
                    <h6 class="m-2">{{p.resprobdc}}</h6>
                </div>
                <label class="m-2" type="label"> NIVEAU VISE : {{p.nviseresprobdc}}</label>
                <label class="m-2" type="label"> INDICATEURS DE SUIVI :<br>{{p.isuiviresprobdc}} </label>
                <div class="text-center">
                    <h6 class="m-2">{{p.servexcelldc}}</h6>
                </div>

                <label class="m-2" type="label"> NIVEAU VISE : {{p.nviseservexcelldc}}</label>
                <label class="m-2" type="label"> INDICATEURS DE SUIVI : <br>{{p.isuiviservexcelldc}} </label>
                <div class="text-center">
                    <h6 class="m-2">{{p.raisconcepdc}}</h6>
                </div>

                <label class="m-2" type="label"> NIVEAU VISE : {{p.nviseraisconcepdc}}</label>
                <label class="m-2" type="label"> INDICATEURS DE SUIVI : <br>{{p.isuiviraisconcepdc}} </label>
            </div>

            <div class="shadow-lg p-3 mb-5 bg-body rounded">
                <div class="text-center">
                    <h5 class="m-2">{{p.droitdc}} </h5>
                </div>
                <label class="m-2" type="label"> {{p.contenudroitdc}} </label>

                <div class="text-center">
                    <h5 class="m-2">{{p.devoirdc}}</h5>
                </div>
                <label class="m-2" type="label"> {{p.contenudevoirdc}} </label>

                <div class="text-center">
                    <h5 class="m-2">{{p.validationdc}} </h5>
                </div>
                <label class="m-2" type="label"> {{p.contenuvaliddc}}</label>

                <div class=" table-responsive ">
                    <table class="  table table-bordered ">
                        <thead>
                            <tr class="text-bold">
                                <th scope="col"></th>
                                <th scope="col">Élaboration</th>
                                <th scope="col">Vérification</th>
                                <th scope="col">Approbation</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>

                                <th class="text-bold">Fonction</th>
                                <td>{{p.fonctiondc}}</td>
                                <td>{{p.fonctiondc1}}</td>
                                <td>{{p.fonctiondc2}}</td>
                            </tr>
                            <tr>

                                <th class="text-bold">Nom et Prénom</th>
                                <td>{{p.nompredc}}</td>
                                <td>{{p.nompredc1}}</td>
                                <td>{{p.nompredc2}}</td>

                            </tr>

                        </tbody>

                    </table>
                </div>
            </div>
        </div>


    </div>
</body>
