
<app-login *ngIf="router.url == '/' "></app-login>

<div class="preloader">
    <div class="lds-ripple">
        <div class="lds-pos"></div>
        <div class="lds-pos"></div>
    </div>
</div>
<div id="main-wrapper" data-layout="vertical" data-navbarbg="skin5" data-sidebartype="full"
    data-sidebar-position="absolute" data-header-position="absolute" data-boxed-layout="full">
    <app-header *ngIf="router.url != '/' "></app-header>
    <app-sidebar *ngIf="router.url != '/' "></app-sidebar>
    
    <div class="page-wrapper">

        <router-outlet></router-outlet>

    </div>
</div>