<div class="container">

    <div class=" text-left mt-2 ">
        <button type="button" class="btn btn-primary " routerLink="/listingforma"><i
                class="  fas fa-arrow-alt-circle-left"></i> REV</button>
    </div>

    <div class=" text-center mt-2 ">

        <h1>Formation Externe</h1>


    </div>
    <div class="shadow p-3 mb-5 bg-body rounded">

        <div class="row ">
            <div class="col-lg-10 mx-auto">
                <div class="card mt-2 mx-auto p-4 bg-light">
                    <div class="card-body bg-light">

                        <div class="container">
                            <form id="contact-form" role="form" [formGroup]="externeForm">



                                <div class="controls">

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="form-label">Type de compétence</label>
                                                <input type="text" class="form-control" placeholder="Type de compétence"
                                                    required="required" formControlName="typecomp"
                                                    [(ngModel)]="formaexternes.typecomp">

                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                          
                                            <label for="form_label">Thème de formation</label>
                                            <select  [(ngModel)]="formaexternes.themeformation_id" class="form-control" id="exampleFormControlSelect2" placeholder="Veuillez choisir votre Thème de formation" formControlName="themeformation_id">
                                                
                                                <option selected disabled value="">Thème de formation</option>
                                     
                                                 <option *ngFor="let obj of Themeformations" [ngValue]="obj.id">
                                     
                                                   {{obj.label}} 
                                                 </option>
                                               </select>

                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="form_label">Participant</label>
                                                <input type="text" class="form-control" placeholder="Participant"
                                                    required="required" formControlName="participant"
                                                    [(ngModel)]="formaexternes.participant">

                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="form_label">Nomber de participants</label>
                                                <input type="number" class="form-control" placeholder="0"
                                                    required="required" formControlName="nbparticipant"
                                                    [(ngModel)]="formaexternes.nbparticipant">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="form_label">Raison de formation</label>
                                                <input type="text" class="form-control" placeholder="Raison"
                                                    required="required" formControlName="raisonforma"
                                                    [(ngModel)]="formaexternes.raisonforma">

                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="form_label">Organisme de formation</label>
                                                <input type="text" class="form-control" placeholder="Organisme"
                                                    required="required" formControlName="organismeforma"
                                                    [(ngModel)]="formaexternes.organismeforma">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="form_label">Formalité de réalisation</label>
                                                <input type="text" class="form-control" placeholder="Formalité"
                                                    required="required" formControlName="formalite"
                                                    [(ngModel)]="formaexternes.formalite">

                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="form_label">Formateur</label>
                                                <input type="text" class="form-control" placeholder="Formateur"
                                                    required="required" formControlName="formateur"
                                                    [(ngModel)]="formaexternes.formateur">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="form_label">Raison de choix</label>
                                                <input type="text" class="form-control" placeholder="Raison de choix"
                                                    required="required" formControlName="raisonchoix"
                                                    [(ngModel)]="formaexternes.raisonchoix">

                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="form_label">Durée de formation </label>
                                                <input type="number" class="form-control" placeholder="0"
                                                    required="required" formControlName="dureeforma"
                                                    [(ngModel)]="formaexternes.dureeforma">
                                            </div>
                                        </div>
                                    </div>


                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="form_label">NB/jour</label>
                                                <input type="number" class="form-control" placeholder="NB/jour"
                                                    required="required" formControlName="nbjour"
                                                    [(ngModel)]="formaexternes.nbjour">

                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="form_label">NB/H de jour </label>
                                                <input type="number" class="form-control" placeholder="0"
                                                    required="required" formControlName="nbhjour"
                                                    [(ngModel)]="formaexternes.nbhjour">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="form_label">Date</label>
                                               
                                                <input formControlName="date" [ngModel]="formaexternes.date | date:'yyyy-MM-dd'" class="form-control" type="date">


                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="form_label">Horaire formation </label>
                                                <input type="time" class="form-control" required="required"
                                                    formControlName="horaireforma"
                                                    [(ngModel)]="formaexternes.horaireforma">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="form_label">Pause café</label>
                                                <input type="text" class="form-control" placeholder="Pause café"
                                                    required="required" formControlName="pause"
                                                    [(ngModel)]="formaexternes.pause">

                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="form_label">Lieu de formation</label>
                                                <input type="text" class="form-control" placeholder="Lieu"
                                                    required="required" formControlName="lieuforma"
                                                    [(ngModel)]="formaexternes.lieuforma">
                                            </div>
                                        </div>
                                    </div>


                                    <div class="row">
                                        <div class="col-md-12">
                                            <span class="text-succes ">{{message}}</span>
                                                
                                        </div>
                                        <div class="col-md-12">


                                            <button class="btn btn-primary m-5" type="submit"
                                                (click)="editforma()">Modifier</button>

                                        </div>
                                    </div>

                                </div>
                            </form>
                        </div>
                    </div>


                </div>
                <!-- /.8 -->

            </div>
            <!-- /.row-->

        </div>
    </div>
</div>