







<div class="border border-primary  ">

    <div class="col  ">
        <h1 class="text-center"> Profil de Poste</h1>
    </div>
    <div class="col ">
        <p class="text-center">
            Code:PR07F01<br>
            Version:00
        </p>

    </div>
</div>





<body>
    <div class="container" *ngFor="let b of Idpropostedt">
        <div class="shadow-lg p-3 mb-5 bg-body rounded">
            <div class=" mt-2 mb-2 end-50">
                <button type="button" class="btn btn-success " routerLink="/editprofilpdt/{{b.id}}"><i
                        class="far fa-edit"></i> Modifier</button>
            </div>
            <div class="dj1">
                <div class="row">
                    <div class="text-start mt-2 ">
                        <label type="label"> MAJ N°: {{b.refdt}}</label>
                    </div>
                    <div class="text-center">
                        <label type="label">Du: {{b.majndt}}</label>
                    </div>
                    <div class="text-end">
                        <label type="label">Du: {{b.dudt}}</label>
                    </div>
                </div>
                <div class="text-bold">
                    <label class="m-2" type="label"> Fonction: {{b.Fonctiondt}} </label>
                    <br>
                    <label class="m-2" type="label"> Catégorie: {{b.Categoriedt}} </label>
                    <br>
                    <label class="m-2" type="label">Supérieur hiérarchique: {{b.Suphierdt}} </label>
                    <br>
                    <label class="m-2" type="label">Supervision: {{b.Superdt}} </label>
                    <br>
                    <label class="m-2" type="label">Intérim: {{b.Interimdt}}</label>
                </div>
            </div>

        </div>
        <div class="dj2" *ngFor="let profilp of Profilpostedt">

            <div class="shadow-lg p-3 mb-5 bg-body rounded">
                <div class="text-center">
                    <h4>Profil du poste</h4>
                    <h5 class="mt-3 mb-2"> {{profilp.comptechdt}} </h5>
                </div>
                <label class="m-2" type="label"> {{profilp.contenucomptechdt}} </label>

                <div class="text-center">
                    <h5 class="mt-3 mb-2">{{profilp.comporgandt}}</h5>
                    <h6 class="mt-2"> {{profilp.gestempsdt}}</h6>
                </div>
                <label class="m-2" type="label"> NIVEAU VISE : {{profilp.nvisegestempdt}} </label>
                <label class="m-2" type="label"> INDICATEURS DE SUIVI : <br>{{profilp.isuivigestempdt}} </label>
                <div class="text-center">
                    <h5 class="m-2"> {{profilp.compcompordt}}</h5>
                    <br>
                    <h6 class="mt-2">{{profilp.comminteradt}} </h6>
                </div>

                <label class="m-2" type="label"> NIVEAU VISE : {{profilp.nvisecomminteradt}} </label>
                <label class="m-2" type="label"> INDICATEURS DE SUIVI : <br>{{profilp.isuivicomminteradt}} </label>

                
                <div class="text-center">
                    <h6 class="m-2"> {{profilp.tracolldt}}</h6>
                </div>

                <label class="m-2" type="label"> NIVEAU VISE : {{profilp.nvisetracolldt}}</label>
                <label class="m-2" type="label"> INDICATEURS DE SUIVI : <br> {{profilp.isuivitracolldt}}</label>

                <div class="text-center">
                    <h6 class="m-2">{{profilp.resprobdt}}</h6>
                </div>
                <label class="m-2" type="label"> NIVEAU VISE : {{profilp.nviseresprobdt}} </label>
                <label class="m-2" type="label">INDICATEURS DE SUIVI : <br> {{profilp.isuiviresprobdt}}</label>

                <div class="text-center">
                    <h6 class="m-2">{{profilp.raisanaldt}}</h6>
                </div>
                <label class="m-2" type="label"> NIVEAU VISE : {{profilp.nviseraisanaldt}}</label>
                <label class="m-2" type="label"> INDICATEURS DE SUIVI :<br>{{profilp.isuiviraisanaldt}} </label>

                <div class="text-center">
                    <h6 class="m-2">{{profilp.leadershipdt}}</h6>
                </div>

                <label class="m-2" type="label"> NIVEAU VISE : {{profilp.nviseleadershipdt}}</label>
                <label class="m-2" type="label"> INDICATEURS DE SUIVI : <br>{{profilp.isuivileadershipdt}} </label>

                <div class="text-center">
                    <h6 class="m-2">{{profilp.soudevdt}}</h6>
                </div>

                <label class="m-2" type="label"> NIVEAU VISE : {{profilp.nvisesoudevdt}}</label>
                <label class="m-2" type="label"> INDICATEURS DE SUIVI : <br>{{profilp.isuivisoudevdt}} </label>

            </div>

            <div class="shadow-lg p-3 mb-5 bg-body rounded">
                <div class="text-center">
                    <h5 class="m-2">{{profilp.droitdt}} </h5>
                </div>
                <label class="m-2" type="label"> {{profilp.contenudroitdt}} </label>

                <div class="text-center">
                    <h5 class="m-2">{{profilp.devoirdt}}</h5>
                </div>
                <label class="m-2" type="label"> {{profilp.contenudevoirdt}} </label>

                <div class="text-center">
                    <h5 class="m-2">{{profilp.validationdt}} </h5>
                </div>
                <label class="m-2" type="label"> {{profilp.contenuvaliddt}}</label>

                <div class=" table-responsive ">
                    <table class="  table table-bordered ">
                        <thead>
                            <tr class="text-bold">
                                <th scope="col"></th>
                                <th scope="col">Élaboration</th>
                                <th scope="col">Vérification</th>
                                <th scope="col">Approbation</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>

                                <th class="text-bold">Fonction</th>
                                <td>{{profilp.fonctiondt}}</td>
                                <td>{{profilp.fonctiondt1}}</td>
                                <td>{{profilp.fonctiondt2}}</td>
                            </tr>
                            <tr>

                                <th class="text-bold">Nom et Prénom</th>
                                <td>{{profilp.nompredt}}</td>
                                <td>{{profilp.nompredt1}}</td>
                                <td>{{profilp.nompredt2}}</td>

                            </tr>

                        </tbody>

                    </table>
                </div>
            </div>
        </div>


    </div>
</body>

