<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <img src="assets/img/djagora1.png" width="110">
      <form class="d-flex"> 
        <button class="btn btn-outline-primary" routerLink="/login">Se connecter</button>
      </form>
    </div>
  </nav>
  <div class="row">
  
  <div class="col">
    <div class="p-3 m-5 bg-body rounded ">
      <h3 class="mb-3">  Description </h3>
      <p>Notre platforme bbbbbbbbbbbbbbbbb uiiiiivni ejvuh  ehruhen erhveuhuv huuuuuuuuuuuuu evuhioe vrviejv huh vev uierhuhhjerui erhgjeurngnvfd,erf rjerignerjv jrie,erf erufenjnevbe uievne </p>
    </div>
  </div>
  <div class="col ">
    <img src="assets/img/publicc.png" class="img-fluid" width="680" >
  </div>
</div>
