<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <img src="assets/img/djagora1.png" width="160">
    <form class="d-flex">
      <button class="btn btn-outline-primary" routerLink="/login">Se connecter</button>
    </form>
  </div>
</nav>
<div class="row d-flex align-items-center " >

  <div class="col" style="margin-left: 20px;">
    <div class="p-3 m-5  ">
      <h2 class="   d-flex mb-4" style="color: rgb(0, 129, 194);"> Qu’offre la plateforme </h2>
      <h3 class=" d-flex " style="color : rgb(91, 162, 218)">"Votre succès dépend de la qualité de votre personnel !"
      </h3>
      <p class="d-flex  text-justify"
        style=" text-align: justify ; text-justify: inter-word; line-height: 25px; font-size: large;">
        Le développement des richesses humaines fait référence au processus continu d'acquisition de connaissances, de
        compétences et d'expériences qui permettent à une personne de se perfectionner et de s'adapter aux exigences
        changeantes du monde du travail.
        En utilisant notre plateforme, les entreprises peuvent offrir des opportunités de formation et de développement
        psychotechnique à leurs employés, ce qui va augmenter directement et fortement leur engagement, leur motivation
        et leur satisfaction au travail. Les employés peuvent également acquérir de nouvelles compétences et des
        connaissances, améliorer leur productivité et leur efficacité, et ainsi contribuer d'avantage à la réussite de
        l'entreprise à court, moyen ey long terme.

        En fin de compte, cette plateforme de développement des richesses humaines est un investissement dans les
        employés et dans la réussite stratégique de l'entreprise. Elle peut aider à créer une main-d'œuvre plus
        compétente et plus engagée, ce qui peut conduire à des résultats commerciaux supérieurs, à une meilleure
        rétention des employés et à une image de marque employeur positive.
      </p>
      <h3 class=" d-flex " style="color :rgb(91, 162, 218)">Nous construisons des carrières, pas simplement des
        emplois."</h3>
    </div>
  </div>
  <div class="col" >
    <img src="assets/img/publicc.png" class="img-fluid" width="650">
  </div>
</div>