<div class="container ">

    <div class="shadow-lg p-3 mb-5 bg-body rounded mt-5">
        
        <h3 class="text-center mt-5">Liste des thèmes de formation</h3>
        <div class="mb-2 end-50 ">
            <button type="button" class="btn btn-primary " routerLink="/addtheme"><i
                    class=" fas fa-plus-circle"></i>
                Ajouter</button>
        </div>
        <div class=" table-responsive ">
            <table class="table table-bordered " >
                <thead>
                    <tr class="text-bold">

                        <th>Thémes des formations</th>


                    </tr>
                </thead>
                <tbody  *ngFor=" let theme of Themeformations" >
                    <tr>
                        <td>
                            {{theme.label}}
                        </td>
                        <td>
                            <button type="button" class="btn btn-danger" (click)="deletethemeforma(theme .id)"><i class="far fa-trash-alt"
                                >Supprimer</i>
                              </button>
                        </td>

                    </tr>

                </tbody>

            </table>
        </div>

    </div>
