<div class="container ">

    <div class="shadow-lg p-3 mb-5 bg-body rounded mt-5">
        
        <h3 class="text-center mt-5">Les listes des profils de poste</h3>

        <button class="btn btn-primary "  routerLink="/addtheme" >Ajouter</button>
        <div class=" table-responsive ">
            <table class="table table-bordered " >
                <thead>
                    <tr class="text-bold">

                        <th>Thémes des formations</th>


                    </tr>
                </thead>
                <tbody  *ngFor=" let theme of Themeformations" >
                    <tr>
                        <td>
                            {{theme.nom}}
                        </td>
                        <td>
                            <button class="btn btn-danger "  (click)="deletethemeforma(theme .id)">Supprimer</button>
                        </td>

                    </tr>

                </tbody>

            </table>
        </div>

    </div>
