<!--<div class="container ">

    <div class="shadow-lg p-3 mb-5 bg-body rounded mt-5">
        <h3 class="text-start mt-5">Les listes des profils de poste</h3>
        <div class=" table-responsive ">
            <table class="table table-bordered " >
                <thead>
                    <tr class="text-bold">

                        <th>Thémes des formations</th>


                    </tr>
                </thead>
                <tbody  >
                    <tr>
                        <td>
                           
                        </td>
                        <td>
                            <button class="btn btn-danger "  (click)="deletethemeforma(p.id)">Supprimer</button>
                        </td>

                    </tr>

                </tbody>

            </table>
        </div>

    </div>-->
