<div class="container">



    <div class="row ">
        <div class="col-lg-9 mx-auto">
            <div class="card mt-2 mx-auto p-2 bg-light">
                <div class="card-body bg-light">

                    <div class="container">
                        <form id="contact-form" role="form" [formGroup]="themeForm">
                            <div class="controls">
                                <h3 class="text-center mb-5">Créer un profil de poste</h3>
                                <div class="row">
                                    <div class="shadow p-3 mb-5 bg-body rounded">
                                        <div class="row">
                                            <div class="col-md-5">
                                                <div class="form-group">
                                                    <label for="form_name">Nom théme formation</label>
                                                    <input type="text" formControlName="label" class="form-control"
                                                        placeholder="Theme formation" required="required">
                                                </div>
                                            </div>
                                           
                                        </div>
                                        <button class="btn btn-primary m-5" type="submit" (click)="addthemeforma()">Ajouter</button>

                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>