<div class="border border-primary row mt-2">

    <div class="col-7 text-end mt-2">
        <h1> Profil de Poste</h1>
    </div>
    <div class="col text-end mt-2 ">
        <p>
            Code:PR07F01<br>
            Version:00
        </p>
    </div>
</div>







<div class="container">
    <form id="contact-form" role="form" [formGroup]="DevSForm">
        <div class="row">
            <div class="form-group mx-sm-2 mb-2 mt-2">
                <label type="label">MAJ N°: </label>
                <input type="text" class="form-control" required="required" formControlName="majnds"
                    [(ngModel)]="Idproposteds .majnds">
            </div>
            <div class="form-group mx-sm-2 mb-2 mt-2">
                <label type="label">Du:</label>
                <input type="text" class="form-control" required="required" formControlName="duds"
                    [(ngModel)]="Idproposteds .duds">
            </div>
            <div class="form-group mx-sm-2 mb-2 mt-2">

                <label class="m-2" type="label"> Fonction: </label>
                <input type="text" class="form-control" required="required" formControlName="Fonctionds"
                    [(ngModel)]="Idproposteds .Fonctionds">
            </div>
            <div class="form-group mx-sm-2 mb-2 mt-2">
                <label class="m-2" type="label"> Catégorie: </label>
                <input type="text" class="form-control" required="required" formControlName="Categorieds"
                    [(ngModel)]="Idproposteds.Categorieds">
            </div>
            <div class="form-group mx-sm-2 mb-2 mt-2">
                <label class="m-2" type="label">Supérieur hiérarchique:</label>
                <input type="text" class="form-control" required="required" formControlName="Suphierds"
                    [(ngModel)]="Idproposteds.Suphierds">
            </div>
            <div class="form-group mx-sm-2 mb-2 mt-2">
                <label class="m-2" type="label">Supervision: </label>
                <input type="text" class="form-control" required="required" formControlName="Superds"
                    [(ngModel)]="Idproposteds.Superds">
            </div>
            <div class="form-group mx-sm-2 mb-2 mt-2">
                <label class="m-2" type="label">Intérim:</label>

                <input type="text" class="form-control" required="required" formControlName="Interimds"
                    [(ngModel)]="Idproposteds.Interimds">
            </div>
        </div>
    </form>
    <form id="contact-form" role="form" [formGroup]="ProfilPForm">

        <div class="shadow p-3 mb-5 bg-body rounded">

            <div class="form-group mx-sm-2 mb-2 mt-2">

                <h4>Profil du poste</h4>

                <input type="text" class="form-control" required="required" formControlName="comptechds"
                    [(ngModel)]="  Profilposteds.comptechds">

            </div>

            <div class="form-group mx-sm-2 mb-3 mt-3">
                <input type="text" class="form-control" required="required" formControlName="contenucomptechds"
                    [(ngModel)]="    Profilposteds.contenucomptechds">

            </div>

            <div class="form-group mx-sm-2 mb-2 mt-2">

                <input type="text" class="form-control mt-2" required="required" formControlName="comporgands"
                    [(ngModel)]="  Profilposteds.comporgands">



                <input type="text" class="form-control mt-3" required="required" formControlName="gestempsds"
                    [(ngModel)]="  Profilposteds.gestempsds">

            </div>
            <div class="form-group mx-sm-2 mb-2 mt-2">
                <label class="m-2" type="label"> Niveau visé : </label>

                <input type="text" class="form-control" required="required" formControlName="nvisegestempds"
                    [(ngModel)]="  Profilposteds.nvisegestempds">

            </div>
            <div class="form-group mx-sm-2 mb-2 mt-2">
                <label class="m-2" type="label"> Indicateurs de suivi : <br>

                    <input type="text" class="form-control" required="required" formControlName="isuivigestempds"
                        [(ngModel)]="  Profilposteds.isuivigestempds">

                </label>
            </div>
            <div class="form-group mx-sm-2 mb-2 mt-2">


                <input type="text" class="form-control" required="required" formControlName="compcompords"
                    [(ngModel)]="  Profilposteds.compcompords">

            </div>

            <div class="form-group mx-sm-2 mb-2 mt-2">
                <input type="text" class="form-control mt-2" required="required" formControlName="comminterads"
                    [(ngModel)]="  Profilposteds.comminterads">

                <label class="m-2" type="label"> Niveau visé : </label>

                <input type="text" class="form-control mt-2" required="required" formControlName="nvisecomminterads"
                    [(ngModel)]="  Profilposteds.nvisecomminterads">

                <label class="m-2" type="label"> Indicateurs de suivi : <br>
                </label>

                <input type="text" class="form-control mt-2" required="required" formControlName="isuivicomminterads"
                    [(ngModel)]="  Profilposteds.isuivicomminterads">






                <input type="text" class="form-control mt-2" required="required" formControlName="tracollds"
                    [(ngModel)]="  Profilposteds.tracollds">



                <label class="m-2" type="label"> Niveau visé : </label>

                <input type="text" class="form-control mt-2" required="required" formControlName="nvisetracollds"
                    [(ngModel)]="  Profilposteds.nvisetracollds">

                <label class="m-2" type="label"> Indicateurs de suivi : <br>
                </label>

                <input type="text" class="form-control mt-2" required="required" formControlName="isuivitracollds"
                    [(ngModel)]="  Profilposteds.isuivitracollds">




                <input type="text" class="form-control mt-3" required="required" formControlName="resprobds"
                    [(ngModel)]="  Profilposteds.resprobds">


                <label class="m-2" type="label"> Niveau visé : </label>

                <input type="text" class="form-control mt-2" required="required" formControlName="nviseresprobds"
                    [(ngModel)]="  Profilposteds.nviseresprobds">

                <label class="m-2" type="label"> Indicateurs de suivi : <br>
                </label>

                <input type="text" class="form-control mt-2" required="required" formControlName="isuiviresprobds"
                    [(ngModel)]="  Profilposteds.isuiviresprobds">





                <input type="text" class="form-control mt-3" required="required" formControlName="servexcellds"
                    [(ngModel)]="  Profilposteds.servexcellds">


                <label class="m-2" type="label"> Niveau visé :</label>

                <input type="text" class="form-control mt-2" required="required" formControlName="nviseservexcellds"
                    [(ngModel)]="  Profilposteds.nviseservexcellds">

                <label class="m-2" type="label"> Indicateurs de suivi : <br>
                </label>

                <input type="text" class="form-control mt-2 " required="required" formControlName="isuiviservexcellds"
                    [(ngModel)]="  Profilposteds.isuiviservexcellds">




                <input type="text" class="form-control mt-3" required="required" formControlName="raisconcepds"
                    [(ngModel)]="  Profilposteds.raisconcepds">



                <label class="m-2" type="label"> Niveau visé :</label>

                <input type="text" class="form-control mt-2" required="required" formControlName="nviseraisconcepds"
                    [(ngModel)]="  Profilposteds.nviseraisconcepds">

                <label class="m-2" type="label"> Indicateurs de suivi : <br>
                </label>

                <input type="text" class="form-control mt-2" required="required" formControlName="isuiviraisconcepds"
                    [(ngModel)]="  Profilposteds.isuiviraisconcepds">




                <input type="text" class="form-control mt-3" required="required" formControlName="leadershipds"
                    [(ngModel)]="  Profilposteds.leadershipds">



                <label class="m-2" type="label"> Niveau visé :</label>

                <input type="text" class="form-control mt-2" required="required" formControlName="nviseleadershipds"
                    [(ngModel)]="  Profilposteds.nviseleadershipds">

                <label class="m-2" type="label"> Indicateurs de suivi : <br>
                </label>

                <input type="text" class="form-control mt-2" required="required" formControlName="isuivileadershipds"
                    [(ngModel)]="  Profilposteds.isuivileadershipds">

            </div>
        </div>

        <div class="shadow p-3 mb-5 bg-body rounded">
            <div class="form-group mx-sm-2 mb-2 mt-2">
            


                <input type="text" class="form-control mt-2" required="required" formControlName="droitds"
                    [(ngModel)]="  Profilposteds.droitds">

          


            <input type="text" class="form-control mt-3" required="required" formControlName="contenudroitds"
                [(ngModel)]="  Profilposteds.contenudroitds">




                <input type="text" class="form-control mt-3" required="required" formControlName="devoirds"
                    [(ngModel)]="  Profilposteds.devoirds">

          


            <input type="text" class="form-control mt-3" required="required" formControlName="contenudevoirds"
                [(ngModel)]="  Profilposteds.contenudevoirds">


           


                <input type="text" class="form-control mt-3" required="required" formControlName="validationds"
                    [(ngModel)]="  Profilposteds.validationds">

           


            <input type="text" class="form-control mt-3" required="required" formControlName="contenuvalidds"
                [(ngModel)]="  Profilposteds.contenuvalidds">

</div>
            <div class=" table-responsive ">
                <table class="  table table-bordered ">
                    <thead>
                        <tr class="text-bold">
                            <th scope="col"></th>
                            <th scope="col">Élaboration</th>
                            <th scope="col">Vérification</th>
                            <th scope="col">Approbation</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>

                            <td class="text-bold">Fonction</td>

                            <td class="text-bold"> <input type="text" class="form-control" required="required"
                                    formControlName="fonctionds" [(ngModel)]="  Profilposteds.fonctionds"></td>

                            <td class="text-bold"><input type="text" class="form-control" required="required"
                                    formControlName="fonctionds1" [(ngModel)]="  Profilposteds.fonctionds1"></td>

                            <td class="text-bold"> <input type="text" class="form-control" required="required"
                                    formControlName="fonctionds2" [(ngModel)]="  Profilposteds.fonctionds2"></td>
                        </tr>
                        <tr>

                            <td class="text-bold">Nom et Prénom</td>

                            <td class="text-bold"><input type="text" class="form-control" required="required"
                                    formControlName="nompreds" [(ngModel)]="  Profilposteds.nompreds"></td>

                            <td class="text-bold"><input type="text" class="form-control" required="required"
                                    formControlName="nompreds1" [(ngModel)]="  Profilposteds.nompreds1"></td>

                            <td class="text-bold"><input type="text" class="form-control" required="required"
                                    formControlName="nompreds2" [(ngModel)]="  Profilposteds.nompreds2"></td>

                        </tr>

                    </tbody>

                </table>
            </div>
        </div>

    </form>
    <div class="col-md-12">

        <button class="btn btn-primary m-5" type="submit" (click)="editdetailFormulair()"
            (click)="editprofil()">Terminer</button>

    </div>
</div>