<div class="container ">

    <div class="shadow-lg p-3 mb-5 bg-body rounded mt-5">
        <h3 class="text-center mt-5">Les listes des test technique</h3>
        <div class="mt-2 mb-2 end-50 ">
            <button type="button" class="btn btn-primary " routerLink="/add-test"><i
                class=" fas fa-plus-circle"></i>
            Ajouter</button>
        </div>
        <div class=" table-responsive ">
            <table class="table table-bordered ">
                <thead>
                    <tr class="text-bold">
                        <th>Liste des test technique</th>
                    </tr>
                </thead>
                <tbody *ngFor=" let test of Testtechniques">
                    <tr>
                        <td>
                            {{test.label}}
                        </td>
                        <td>
                            <button type="button" class="btn btn-danger"(click)="deletetest(test.id)"><i class="far fa-trash-alt"
                                >Supprimer</i>
                              </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            
        </div>
    </div>
</div>