







<div class="border border-primary  ">

    <div class="col  ">
        <h1 class="text-center"> Profil de Poste</h1>
    </div>
    <div class="col ">
        <p class="text-center">
            Code:PR07F01<br>
            Version:00
        </p>

    </div>
</div>





<body>
    <div class="container" *ngFor="let b of Infogenseniors">
        <div class="shadow-lg p-3 mb-5 bg-body rounded">
            <div class=" mt-2 mb-2 end-50">
                <button type="button" class="btn btn-success " routerLink="/editprofilpds/{{b.id}}"><i
                        class="far fa-edit"></i> Modifier</button>
            </div>
            <div class="dj1">
                <div class="row">
                    <div class="text-start mt-2 ">
                        <label type="label"> MAJ N°: {{b.majnds}}</label>
                    </div>
                    <div class="text-center">
                        <label type="label">Du: {{b.duds}}</label>
                    </div>
                </div>
                <div class="text-bold">
                    <label class="m-2" type="label"> Fonction: {{b.Fonctionds}} </label>
                    <br>
                    <label class="m-2" type="label"> Catégorie: {{b.Categorieds}} </label>
                    <br>
                    <label class="m-2" type="label">Supérieur hiérarchique: {{b.Suphierds}} </label>
                    <br>
                    <label class="m-2" type="label">Supervision: {{b.Superds}} </label>
                    <br>
                    <label class="m-2" type="label">Intérim: {{b.Interimds}}</label>
                </div>
            </div>

        </div>
        <div class="dj2" *ngFor="let profilp of Profilposteseniors">

            <div class="shadow-lg p-3 mb-5 bg-body rounded">
                <div class="text-center">
                    <h4>Profil du poste</h4>
                    <h5 class="mt-3 mb-2"> {{profilp.comptechds}} </h5>
                </div>
                <label class="m-2" type="label"> {{profilp.contenucomptechds}} </label>

                <div class="text-center">
                    <h5 class="mt-3 mb-2">{{profilp.comporgands}}</h5>
                    <h6 class="mt-2"> {{profilp.gestempsds}}</h6>
                </div>
                <label class="m-2" type="label"> NIVEAU VISE : {{profilp.nvisegestempds}} </label>
                <label class="m-2" type="label"> INDICATEURS DE SUIVI : <br>{{profilp.isuivigestempds}} </label>
                <div class="text-center">
                    <h5 class="m-2"> {{profilp.compcompords}}</h5>
                    <br>
                    <h6 class="mt-2">{{profilp.comminterads}} </h6>
                </div>

                <label class="m-2" type="label"> NIVEAU VISE : {{profilp.nvisecomminterads}} </label>
                <label class="m-2" type="label"> INDICATEURS DE SUIVI : <br>{{profilp.isuivicomminterads}} </label>

                
                <div class="text-center">
                    <h6 class="m-2"> {{profilp.tracollds}}</h6>
                </div>

                <label class="m-2" type="label"> NIVEAU VISE : {{profilp.nvisetracollds}}</label>
                <label class="m-2" type="label"> INDICATEURS DE SUIVI : <br> {{profilp.isuivitracollds}}</label>

                <div class="text-center">
                    <h6 class="m-2">{{profilp.resprobds}}</h6>
                </div>
                <label class="m-2" type="label"> NIVEAU VISE : {{profilp.nviseresprobds}} </label>
                <label class="m-2" type="label">INDICATEURS DE SUIVI : <br> {{profilp.isuiviresprobds}}</label>

                <div class="text-center">
                    <h6 class="m-2">{{profilp.servexcellds}}</h6>
                </div>
                <label class="m-2" type="label"> NIVEAU VISE : {{profilp.nviseservexcellds}}</label>
                <label class="m-2" type="label"> INDICATEURS DE SUIVI :<br>{{profilp.isuiviservexcellds}} </label>

                <div class="text-center">
                    <h6 class="m-2">{{profilp.raisconcepds}}</h6>
                </div>

                <label class="m-2" type="label"> NIVEAU VISE : {{profilp.nviseraisconcepds}}</label>
                <label class="m-2" type="label"> INDICATEURS DE SUIVI : <br>{{profilp.isuiviraisconcepds}} </label>

                <div class="text-center">
                    <h6 class="m-2">{{profilp.leadershipds}}</h6>
                </div>

                <label class="m-2" type="label"> NIVEAU VISE : {{profilp.nviseleadershipds}}</label>
                <label class="m-2" type="label"> INDICATEURS DE SUIVI : <br>{{profilp.isuivileadershipds}} </label>

            </div>

            <div class="shadow-lg p-3 mb-5 bg-body rounded">
                <div class="text-center">
                    <h5 class="m-2">{{profilp.droitds}} </h5>
                </div>
                <label class="m-2" type="label"> {{profilp.contenudroitds}} </label>

                <div class="text-center">
                    <h5 class="m-2">{{profilp.devoirds}}</h5>
                </div>
                <label class="m-2" type="label"> {{profilp.contenudevoirds}} </label>

                <div class="text-center">
                    <h5 class="m-2">{{profilp.validationds}} </h5>
                </div>
                <label class="m-2" type="label"> {{profilp.contenuvalidds}}</label>

                <div class=" table-responsive ">
                    <table class="  table table-bordered ">
                        <thead>
                            <tr class="text-bold">
                                <th scope="col"></th>
                                <th scope="col">Élaboration</th>
                                <th scope="col">Vérification</th>
                                <th scope="col">Approbation</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>

                                <th class="text-bold">Fonction</th>
                                <td>{{profilp.fonctionds}}</td>
                                <td>{{profilp.fonctionds1}}</td>
                                <td>{{profilp.fonctionds2}}</td>
                            </tr>
                            <tr>

                                <th class="text-bold">Nom et Prénom</th>
                                <td>{{profilp.nompreds}}</td>
                                <td>{{profilp.nompreds1}}</td>
                                <td>{{profilp.nompreds2}}</td>

                            </tr>

                        </tbody>

                    </table>
                </div>
            </div>
        </div>


    </div>
</body>
