<div class="border border-primary row  ">

    <div class="col text-center m-3">
        <h1> Fiche de rensignement</h1>
    </div>

</div>

<div class="container">
    <div class="text-end mt-3">date</div>
    <div class="text-end mt-2">Numero de page:</div>

    <div class="row">
        <div class="shadow p-3 mb-5 bg-body rounded mt-2 col-4">
            <div class="card-body">
                <div class="row">
                    <h5 class="col-6"> Nom et Prénom: </h5>
                    <p class="col-5">Chourouk Derbel </p>
                </div>
                <div class="row">
                    <h5 class="col-6"> Adresse : </h5>
                    <p class="col-5">Chourouk Derbel </p>
                </div>

                <div class="row">
                    <h5 class="col-6"> Tél professionnel: </h5>
                    <p class="col-5">+21644251517 </p>
                </div>

                <div class="row">
                    <h5 class="col-6"> Tél personnel: </h5>
                    <p class="col-5">+21644251517 </p>
                </div>

                <div class="row">
                    <h5 class="col-6">Contact en cas d’urgence: </h5>
                    <p class="col-5 mt-2">+21644251517 </p>
                </div>

                <div class="row">
                    <h5 class="col-6">Mail professionnel: </h5>
                    <p class="col-5">chouroukder@gmail.com </p>
                </div>
                <div class="row">
                    <h5 class="col-6">Mail personnel: </h5>
                    <p class="col-5">chouroukder@gmail.com </p>
                </div>
                <div class="row">
                    <h5 class="col-6">Service de travail: </h5>
                    <p class="col-5">chouroukder@gmail.com </p>
                </div>
                <div class="row">
                    <h5 class="col-6">Poste: </h5>
                    <p class="col-5">3021 </p>
                </div>
            </div>

        </div>

        <div class="shadow p-3 mb-5 bg-body rounded mt-2 col-8 ">
            <div class="card-body">

                <div class="row">
                    <h5 class="col-3"> Date de naissance: </h5>
                    <p class="col-3">Chourouk Derbel </p>

                    <h5 class="col-1"> Lieu: </h5>
                    <p class="col-3 text-start">Chourouk Derbel </p>
                </div>

                <div class="row">
                    <h5 class="col-3">Nationalité: </h5>
                    <p class="col-3">Chourouk Derbel </p>

                    <h5 class="col-1"> N°CIN: </h5>
                    <p class="col-3 text-start">Chourouk Derbel </p>
                </div>

                <div class="row">
                    <h5 class="col-3">Délivrée à:</h5>
                    <p class="col-3">Chourouk Derbel </p>

                    <h5 class="col-1"> Le: </h5>
                    <label class="col-3" type="date"> 27/02/2019</label>
                </div>

                <div class="row">
                    <h5 class="col-3">Permis de conduite:</h5>
                    <div class="form-check mr-sm-2 col-md-4">
                        
                        <input type="checkbox" class="form-check-input  ">
                        <label class="form-check-label " >Oui </label><br>
                        <input type="checkbox" class="form-check-input  col-md-4" >
                        <label class="form-check-label ">Non </label>
                        <p class="col-8"> Si oui depuis quand?</p>
                    </div>
                    
                </div>

                <div class="row">
                    <h5 class="col-3">Logement:</h5>
                    <p class="col-3"> </p>

                    <h5 class="col-1"> Le: </h5>
                    <label class="col-3" type="date"> 27/02/2019</label>
                </div>

            </div>
        </div>
    </div>


</div>